[2017-07-17 09:48] djtfmartin commented on #286
Im not sure, probably worth following up on.

Noticed that the NBN link under "Further information sources" is wrong on these pages.
its

https://data.nbn.org.uk/Search?q=Amphianthus+dohrnii

and should be

https://species/nbnatlas.org/species/Amphianthus+dohrnii

[2017-07-17 10:05] sophiathirza commented on #283
The occurrences are in the dataset but the species name is unprocessed: https://records.nbnatlas.org/occurrences/search?q=data_resource_uid%3Adr827&fq=-species%3A*&fq=raw_taxon_name%3A%22Dreissena+bugensis%22

which is why it doesn't seem possible to search on them. I will investigate why the names were not processed.

[2017-07-17 10:05] sophiathirza commented on #283
The dataset is here: https://registry.nbnatlas.org/public/show/dr827

[2017-07-17 10:25] MandyHenshall commented on #286
Hi,
The first link goes to "page not found" and the second link doesn't work for me either.  It says "This site can’t be reached. species’s server DNS address could not be found."  Can you let me know which page the link should be on, so I can see if it's something I can change please.
Thanks,
Mandy

[2017-07-17 10:28] sophiathirza commented on #298
The problem is due to the change in url of the web service. They would like to use EasyMaps but are holding off from adding the maps to their site until the problem with absence records displaying on the map is resolved.

[2017-07-17 10:35] sophiathirza commented on #283
Email from ChrisR:

I think I forwarded that request on to you because Quagga mussel has been in
the UKSI for ages. The only potential issue is that it does seem to be set
to only be on a private list, which is not correct but I'm pretty sure the
Gateway ignored this flag. It's possible your developer might have filtered
on it in error but he has never really discussed with me what he has done so

[2017-07-17 11:01] sophiathirza commented on #286
The second link goes to another version of the name (i.e. https://species.nbnatlas.org/species/NBNSYS0000188416). I think the link should be (using the taxon key): https://species.nbnatlas.org/species/NHMSYS0021053609

[2017-07-17 11:05] sophiathirza commented on #286
or should the search without the taxonkey be: https://species.nbnatlas.org/search?fq=idxtype%3ATAXON&q=Amphianthus+dohrnii so it finds all the species names?

[2017-07-17 11:07] djtfmartin commented on #286
the former IMO

[2017-07-17 11:11] MandyHenshall commented on #286
Now I can see the pages, I'm just confirming that I can't change these links.

[2017-07-18 11:27] GiselleSterry commented on #213
Email address also wrong for deactivating account. Needs to be changed from ALA to NBN address
[pop up box says ALA disable account.docx](https://github.com/nbnuk/nbnatlas-issues/files/1155684/pop.up.box.says.ALA.disable.account.docx)

[2017-07-18 11:53] djtfmartin commented on #274
this is fixed

[2017-07-18 11:53] #274 closed

[2017-07-18 13:39] MandyHenshall opened #302 "Occurrence status not shown in a download"
Email received from the MBA:
For the Shore Thing dataset (https://registry.nbnatlas.org/public/show/dr1366) the occurrence status is not shown in the download. If you view individual records on the atlas you can see whether they are recorded as presence of absence, but on download one might assume that all records are presence.

Please can you add OccurrenceStatus for this dataset?

Sorry, not sur

[2017-07-18 14:32] djtfmartin commented on #302
done.

[2017-07-18 14:32] #302 closed

[2017-07-18 14:39] djtfmartin commented on #260
i think these are resolved

[2017-07-18 14:39] #260 closed

[2017-07-19 09:49] sophiathirza commented on #286
I have sent a csv of taxon key of the accepted name of each species on the MarLIN website to the website managers. Hopefully they will be able to update their website with the corrected keys.

[2017-07-19 09:54] GiselleSterry commented on #285
Data provider has requested an update on timescale for resolution. thanks

[2017-07-19 10:07] djtfmartin commented on #285
The data was supplied with the following headings (which are a little garbled or truncated)

RecordKey,UpdatedOn,TaxonVersi,SurveyKey,SampleKey,StartDate,EndDate,DateType,GridRefere,Projection,Precision,SeFsitive,ZeroAbunda,SiteKey,SiteName,SampleMeth,Recorder,Determiner,Abundance,Comment

"TaxonVersi" wasnt recognised.

@sophiathirza @EllaVogel

[2017-07-19 10:11] djtfmartin commented on #291
this is fixed

[2017-07-19 10:11] #291 closed

[2017-07-19 10:11] djtfmartin commented on #289
this is fixed

[2017-07-19 10:11] #289 closed

[2017-07-19 10:12] djtfmartin commented on #282
I think this was a momentary bit of downtime. Closing. We can reopen if we think its an intermittent problem.

[2017-07-19 10:12] #282 closed

[2017-07-19 10:14] djtfmartin commented on #275
Date precision is an optional supplied field and currently we only parse interpret when its been supplied by the data provider. An enhancement would be to provide a interpreted date precision field based on the date supplied when a separate date precision field isn't supplied.

[2017-07-19 10:16] sophiathirza commented on #285
So what needs to happen? Do we correct the heading and reupload?

[2017-07-20 08:45] GiselleSterry opened #303 "Download of shapefiles not including grid refs"
"I have recently tried to download the location for Fairy Shrimp from the NBN Gateway, and when I click on Darwin Core download as a csv file it doesn’t contain the location (grid reference) of the data? I was hoping to be able to map it in ArcGIS. I have also tried to download as a shapefile and it won’t work. Not sure how to get it to download the location."

I tested and got the following fro c

[2017-07-20 08:56] djtfmartin commented on #303
Grid references arent in darwin core as such.

For now, if the user downloads the default "simple spreadsheet" this contains grid references.

[2017-07-20 08:59] GiselleSterry commented on #303
Ok - thanks.

[2017-07-20 09:22] djtfmartin commented on #288
this is resolved.

<img width="1440" alt="screenshot 2017-07-20 10 22 57" src="https://user-images.githubusercontent.com/444897/28410388-75af72e6-6d35-11e7-899d-7f86103b1bd0.png">

[2017-07-20 09:22] #288 closed

[2017-07-20 10:11] sophiathirza commented on #285
I have updated the headers, except for SampleMeth. I can't find any documentation on what it should be.

[2017-07-20 10:49] sophiathirza commented on #273
The infoSourceURL for the record is pointing to the ALA:
[1] "http://collections.ala.org.au/public/show/null"

could this be the problem? I can't see anything else in the information on the taxon from the web service that looks incorrect.

[2017-07-20 11:04] djtfmartin commented on #273
no. We should remove/fix that URL but its not in use in UI.

We get all species info from EOL and some pages are problematic. I think we need some sort of black list mechanism for eol pages which are problematic.

[2017-07-20 12:32] GiselleSterry commented on #303
Extra comment from user.
"Thanks very much for sending through the data. I just tired downloading the data as a shapefile and it looks like it works fine.  However when you download the data it looks as if there is a zip file within a zip file. So you have to unzip the file twice.. I’m not sure if that is intentional but just thought I would flag it up."

[2017-07-20 12:43] djtfmartin commented on #303
its intentional.

[2017-07-20 12:54] GiselleSterry opened #304 "Reducing clicks to view records"
When looking at records for a species the links seem to work differently depending on whether you look at an individual record from either the list of the records or from the map.
If you start with the list of records you can open individual records using the View Record link (although I find the number of mouse clicks to get it to work varies?). If you start with the map, as Teresa noted, you see

[2017-07-20 14:02] CEJohnston commented on #288
Thanks very much!

[2017-07-20 14:08] CEJohnston commented on #289
Thanks!

[2017-07-20 14:11] djtfmartin commented on #108
this is done. See the (i) top left

[2017-07-20 14:11] #108 closed

[2017-07-20 14:45] GiselleSterry commented on #303
update from user: I selected simple spreadsheet format and shapefile. Then clicked on the email to download the shape file – unzipped both folders and the shape file was empty.

[2017-07-21 07:49] sophiathirza commented on #283
I have written to Chris to ask for a new export of the UKSI.

[2017-07-21 07:50] sophiathirza commented on #285
The dataset has been upload and the updates should appear on the Atlas over the weekend.

[2017-07-21 10:01] PurbaChoudhury opened #305 "Shape files empty when downloading data from NBN Atlas"
James Memory rang today as he was downloading shape files of the species Arctica Islandica and all the shape files he downloaded were empty.  Is this a bug we are aware of?

If it is a bug, or if he is using the NBN Atlas incorrectly, and he should be able to access the data he has tried to download, please could someone phone James back to inform him on 0207-6349910?

Thanks, Purba

[2017-07-21 10:03] djtfmartin commented on #305
Thanks @PurbaChoudhury

Yes. We have an issue with shapefiles currently.

[2017-07-22 09:37] djtfmartin commented on #305
There was a problem with generating shape files for less than 10k records.  This is now fixed.

[2017-07-22 09:37] #305 closed

[2017-07-22 09:38] djtfmartin commented on #303
There was a problem with generating shapefiles for less than 10k records.  This is now fixed.

[2017-07-22 09:38] #303 closed

[2017-07-22 09:38] djtfmartin commented on #300
There was a problem with generating shapefiles for less than 10k records.  This is now fixed.

[2017-07-22 09:38] #300 closed

[2017-07-22 09:41] djtfmartin commented on #305
<img width="1439" alt="screenshot 2017-07-22 10 40 37" src="https://user-images.githubusercontent.com/444897/28490142-4fa07a32-6eca-11e7-94f4-55462d96f006.png">

[2017-07-24 08:08] GiselleSterry commented on #285
Checked this morning and still not showing up. Has the update been run?

[2017-07-24 09:49] sophiathirza commented on #285
No, it was not possible to run the updates. As soon as I have more information I will let you know

[2017-07-24 11:29] sophiathirza commented on #285
The update will be run today.

[2017-07-25 10:12] GiselleSterry opened #306 "no data showing on Atlas as at 11.09 on 25 July"
email sent - no datasets / records showing on NBN Atlas

[2017-07-25 10:39] djtfmartin commented on #306
back up. there was a problem with index generation. We've reverted to a backup.
@SarahHyslop

[2017-07-25 10:39] #306 closed

[2017-07-25 14:06] SarahHyslop commented on #306
Thanks Dave.  I have informed someone that its back up but they have advised they are still having issues; 'The records are now on the NBN atlas but their position on the map still isn't showing, I have tried a few different species. I think there is still some sort of problem'
![atlas screen shot](https://user-images.githubusercontent.com/26628372/28576105-ccaea1c0-714a-11e7-900e-00a76a163926.png

[2017-07-25 14:13] djtfmartin commented on #306
thanks @SarahHyslop . can you include a link ?

[2017-07-25 14:39] SarahHyslop commented on #306
Ive gone back to the user to ask for this, will put it here once they reply

Thanks

[2017-07-26 12:09] GiselleSterry commented on #301
@djtfmartin please close - user error.

[2017-07-26 12:09] #301 closed

[2017-07-27 10:03] sophiathirza opened #307 "JNCC Biodiversity indicators"
Require a monthly report on counts of:
1. UK records
2. publicly accessible UK records at 1KM resolution or better
3. UK records at each resolution ((10KM, 2KM, 1KM, 100m)
4. publicly accessible UK records at each resolution ((10KM, 2KM, 1KM,
100m)
5. publicly accessible UK records at 1KM or better resolution recorded
over the past 5 years
6. publicly accessible UK records at 1KM or better resolut

[2017-07-27 10:03] SarahHyslop commented on #306
Here is an example: https://species.nbnatlas.org/species/NBNSYS0000005135 This shows there are 4,439 records of Harbour Seals but no representation on the map. For some species it is working and some not.

[2017-07-27 12:09] sophiathirza opened #308 "Unable to log in to the Atlas"
I have a couple of people who are unable to log into the Atlas who previous could log in. They are logging in with their username rather than email address.

[2017-07-27 12:51] GiselleSterry commented on #308
Are they trying to use their old Gateway log in - do you know where to find the list of registered users? @sophiathirza

[2017-07-27 13:58] sophiathirza commented on #308
I don't know whether they have Gateway logins, just that they use a username rather than their email address.  No, could you let me know where the list of registered accounts is? thanks.

[2017-07-27 14:03] djtfmartin commented on #293
Removed.

[2017-07-27 14:03] #293 closed

[2017-07-27 14:06] djtfmartin commented on #292
removed

[2017-07-27 14:06] #292 closed

[2017-07-27 14:06] GiselleSterry commented on #308
do you want to skype me?

[2017-07-27 14:07] CEJohnston opened #309 "Spatial layer metadata updates using metadata form"
I added the word 'Natural' to the Description of layer 'AONB' - taking it from 'Areas of Outstanding Beauty (England)' to 'Areas of Outstanding Natural Beauty (England)'.  I can see the Description HAS changed in the metadata screen in the spatial portal OK (so that is working).  But the 'name' of the layer in the Add Layer screen still says 'Areas of Outstanding Beauty (England)' - see image belo

[2017-07-27 14:13] djtfmartin commented on #294
I looks liked we used the "OBJECTID" as the identifier in these cases.

Local_Nature_Reserves_England has a LNR_NAME that we should have used to group the polygons.

[2017-07-27 14:14] GiselleSterry opened #310 "Dataset not showing up for HWDT"
https://registry.nbnatlas.org/public/show/dr537

When click on data set no records showing up

![image](https://user-images.githubusercontent.com/26710675/28674919-397a1db8-72de-11e7-8774-0533df673bbd.png)

[2017-07-27 14:40] djtfmartin commented on #310
This dataset is now up.

[2017-07-27 14:40] #310 closed

[2017-07-27 14:51] djtfmartin commented on #294
Ive fixed these three layers. To answer the original question:

"To avoid this problem in the future would ensuring that multi part polygons are grouped in a shapefile be the answer?"

no. we just need to select the right field as the identifier within the shape file.

[2017-07-27 14:51] #294 closed

[2017-07-27 15:04] djtfmartin commented on #207
I think the problem stems from the number of polygons in the layer 200k which where all being treated as separate features (we where using the polygon ID as the unique field - not useful).

Heres the data in the shapefile:

  gid  | polygon_id | survey_id |           desc_text            | commun_cat | status | poly_src
-------+------------+-----------+--------------------------------+------------

[2017-07-27 15:33] djtfmartin commented on #309
Ive worked out the problem here. It only affects changing the title of the layer.
For notes: The metadata update form updates the "layers" table, but the layer name is actually pulled from the "fields" table in the database which doesnt get the updates to changes to the title (a bug).
This is easily corrected in the database.

<img width="1440" alt="screenshot 2017-07-27 16 31 21" src="https://use

[2017-07-27 15:33] #309 closed

[2017-07-27 15:38] djtfmartin commented on #209
this is enabled.

[2017-07-27 15:38] #209 closed

[2017-07-27 17:12] djtfmartin commented on #208
Fixed. This layer only contains one feature.

<img width="1440" alt="screenshot 2017-07-27 18 12 06" src="https://user-images.githubusercontent.com/444897/28683094-2aab6fbc-72f7-11e7-9ec5-2b673f874fd3.png">

[2017-07-27 17:12] #208 closed

[2017-07-27 17:22] djtfmartin commented on #197
this layer has been removed and super ceded by the countries with seas layer

[2017-07-27 17:22] #197 closed

[2017-07-27 17:41] djtfmartin commented on #206
MPA_SCOTLAND consists of the following fields in the DBF file:
[code]

Here are values for GID and FID

[code]

The original spreadsheet suggested using a field PA_CODE which doesn't exist in the layer.
Hence the layer hasn't loaded properly.

@CEJohnston can you look into what data should be used with this layer ?

[2017-07-27 17:46] djtfmartin commented on #281
This is just a display issue. We should be presenting the names which are pipe separated in a better manner.

[2017-07-27 19:22] djtfmartin commented on #285
this dataset import has now been fixed

[2017-07-27 19:24] djtfmartin commented on #219
closing. Assume this was the performance problems we've worked through in April

[2017-07-27 19:24] #219 closed

[2017-07-27 19:24] djtfmartin commented on #210
fixed

[2017-07-27 19:24] #210 closed

[2017-07-27 19:32] djtfmartin commented on #202
done

[2017-07-27 19:32] #202 closed

[2017-07-28 09:10] CEJohnston commented on #309
So just to be clear - if I want to add a country name to a layer name (a few of them need (Scotland) added) is it only you who can do that at the moment?

[2017-07-28 09:16] sophiathirza commented on #285
sorry to reopen.

The record dates have not been recognised. Is it because the year was not supplied with 4 digits?

[2017-07-28 11:10] sophiathirza commented on #308
I think that they were using old Gateway accounts

[2017-07-28 11:10] #308 closed

[2017-07-28 11:13] sophiathirza opened #311 "Unable to download records from 'Explore your area' page"
Even though I am already logged in, the message says to log in.

I can download from other pages.

[2017-07-31 08:16] SarahHyslop opened #312 "issue with download of shapefile"
From a user;

I tried to download a shapefile of Funiculina quadrangularis records and get the following download failure notification from data@nbnatlas.org Any ideas?

The download has failed. uniqueId:a350ac1f-6d70-3c0c-b8cb-ed52ec443bc1-1501239913983 path:/a350ac1f-6d70-3c0c-b8cb-ed52ec443bc1/1501239913983/records-2017-07-28.zip

[2017-07-31 08:20] SarahHyslop opened #313 "Storm petrel info"
Feedback from a user;

See https://scotland-species.nbnatlas.org/species/NBNSYS0000000236 The storm petrel info on the site is no use unless you are a French speaker !! Also a picture of the bird would be more useful than a witch on a broomstick!

Could this be rectified? Thanks

[2017-07-31 08:22] djtfmartin commented on #312
Ive just done this with no problems....

[2017-07-31 08:40] djtfmartin commented on #312
Theres seems to be a problem for some queries if users select "Full darwin core" and "shapefile". If they select "Simple spreadsheet format" - which is the default,  with shapefile then theres no problems.

@SarahHyslop Can you suggest this to the user as a workaround ?

[2017-07-31 08:46] SarahHyslop commented on #312
Thanks Dave, I've gone back to the user with this information.

[2017-07-31 09:03] djtfmartin commented on #309
yes that right.

[2017-07-31 11:11] djtfmartin commented on #207
For notes, using this SQL in import

https://gist.github.com/djtfmartin/89538df7421d9214d39459e17a2a81d3

[2017-07-31 11:56] sophiathirza opened #314 "Tidy up National Plant Monitoring Scheme (NPMS) datasets"
It looks like the NPMS datasets were originally uploaded to the BRC provider. Now NPMS have their own page.

1. Is it possible to move https://registry.nbnatlas.org/public/show/dr1290 to under NPMS: https://registry.nbnatlas.org/public/show/dp192? Or does it have to be re-uploaded?

2. https://registry.nbnatlas.org/public/showDataResource/dr1519. Is this an older version of the new dataset under h

[2017-07-31 12:59] djtfmartin commented on #207
Ive hit this problems with the NVC layer

[code]

[2017-07-31 17:26] djtfmartin commented on #314
thanks @sophiathirza. Quick answers.

1. This is done through the collectory. We need to show you how. No reload required.
2. I dont know.
3. no.

[2017-07-31 17:50] djtfmartin commented on #207
https://gis.stackexchange.com/questions/229367/st-union-fails-with-topologyexception-despite-valid-polygons-and-using-st-snapto

[2017-07-31 18:57] sophiathirza commented on #314
Can you explain the LSIDs to me please?

[2017-08-01 10:37] djtfmartin commented on #207
There have been quite a few issues with this layer. Just for notes i have done the following:

* Imported into PostGIS the raw SHP file without re-projecting (polygons are in OSGB36) with the following command:
[code]
* Performed the Union on the original features with a select into temporary table:
[code]
* i was unable to perform the required union for all habitat types. This error was thrown:
[

[2017-08-01 10:38] sophiathirza opened #315 "Precision range mismatch under data assertions"
Records are being flagged as having precision range mismatch, even when the coordinates are correct.

[2017-08-01 10:39] sophiathirza commented on #286
I am going to close this as I have not heard back from the website managers, so I assume that it is all okay.

[2017-08-01 10:39] #286 closed

[2017-08-01 10:40] sophiathirza commented on #314
Point 1 has been done. I need to check that the original dataset (dr1519) can be deleted.

[2017-08-01 10:42] sophiathirza opened #316 "Records upload with lat/long coordinates do not appear on the grid map"
They only appear as points on the maps.

[2017-08-01 13:10] djtfmartin commented on #207
This layer is now available.

[2017-08-01 13:10] #207 closed

[2017-08-01 13:29] GiselleSterry commented on #281
Received following by email
I noticed that the collector/observer names have been reformatted.

They seem to have been reformatted as “Surname, Initial [of firstname]. Firstname” which is rather misleading, as it looks like the person’s name is, in this example, “R. Robert Edgar”, which it isn’t.

Edgar, R. Robert
Supplied as 'Robert Edgar'

[2017-08-01 14:59] CEJohnston commented on #206
Strange....these are the attributes from the attribute table viewed in QGIS.....PA_CODE appears there...

![image](https://user-images.githubusercontent.com/18594564/28831718-513747ee-76d2-11e7-94ab-0f54a753bf87.png)

[2017-08-01 15:05] djtfmartin commented on #206
Looks like the DBF file wasnt uploaded to S3.

@CEJohnston can you upload it ?

[2017-08-01 15:11] CEJohnston commented on #206
Done - should be there.

[2017-08-01 15:14] djtfmartin commented on #206
MPA_SCOTLAND is now loaded.

[2017-08-01 15:40] CEJohnston commented on #206
Thank you - its looking good!

[2017-08-01 16:13] CEJohnston commented on #233
Latest post from the Forum - same topic:

Is there any news on a fix for this problem? Everything seems to have gone quiet but this is a significant problem, in my books.
For instance, when you search for "Tachina magnicornis" why should a junior synonym precede a recommended name?
[https://species.nbnatlas.org/search/?q=tachina+magnicornis](url)
Why does a search for "Sparrow" still list rare vag

[2017-08-02 11:09] djtfmartin commented on #233
I just deployed a boost to results based on occurrence count. Seems to have done the job.

[2017-08-02 11:09] #233 closed

[2017-08-02 15:39] GiselleSterry opened #317 "Unable to access Analyse as at 16.38 2/8/17"
Times out and gives error message of server error or no capacity.

[2017-08-02 15:40] #317 closed

[2017-08-02 15:40] GiselleSterry commented on #317
reported and now working!

[2017-08-03 08:00] GiselleSterry opened #318 "Records not showing on map"
Email received 3/8/17 from MSC

I see that our Basking Shark dataset has now been uploaded, however there appears to be a problem with the data as nothing is showing on the map. https://records.nbnatlas.org/occurrence/search?q=data_resource_uid:dr1488#tab_chartsView

[2017-08-03 13:09] sophiathirza commented on #318
The data only shows when the map is viewed as points rather than grid. I reported the issue: #316. I will contact the MSC directly.

[2017-08-03 14:23] sophiathirza commented on #318
I have emailed Charlotte, letting her know about the problem. I will close this issue as we have it logged already.

[2017-08-03 14:23] #318 closed

[2017-08-04 08:49] CEJohnston commented on #233
Thanks very much @djtfmartin - does look better - I have posted a response on the Forum.

[2017-08-04 09:28] CEJohnston opened #319 "Mismatch between common species names in search results and records"
Comment from the Forum:
I had to think twice when I just saw "Green Plover" in a set of records before recalling that this is another name for Lapwing. I was just wondering why this was the common name given. I haven't used Recorder 6 for a while but I don't recall it ever being the recommended common name? Possibly a quirk, or to do with the other remaining taxonomy/Species Inventory issues? What

[2017-08-07 08:52] SarahHyslop opened #320 "Advanced search - vice counties and other menus drop downs are not working"
We have been notified that the vice counties drop down menu doesnt work within the advanced search - https://records.nbnatlas.org/search#tab_advanceSearch

This did work at first for me but now doesnt work at all.  Some of the other drop down menus are also not working.

[2017-08-07 08:55] SarahHyslop opened #321 "Search feedback for Odiellus spinosus"
Feedback from a user;

I am not impressed by the new search facility - I searched for 'Odiellus spinosus' and with the default settings Odiellus is not even on the first page! Odiellus does not appear until the 4th page, this does not, even setting order to 'best match' and 'ascending' it is on the second page!

Note from Sarah;

Is there a way to reorder / solve this issue?

Thanks

[2017-08-08 07:18] djtfmartin commented on #206
@CEJohnston there are some issues with the PH Central layer. Seems to be corrupt.

[code]

[2017-08-08 08:49] GiselleSterry commented on #285
@djtfmartin is there an update on this? Thank you.

[2017-08-08 08:58] djtfmartin commented on #285
This is with @sophiathirza i think. We planned to reformat the dates.

[2017-08-08 09:05] sophiathirza commented on #285
yes, we have to re-upload the data after reformatting the dates. I will re-upload this week.

@djtfmartin should I also add a year column to the dataset?

[2017-08-08 09:07] djtfmartin commented on #285
i dont think so. Just dd/MM/yyyy will suffice

[2017-08-08 09:08] GiselleSterry commented on #285
thanks.

[2017-08-08 09:50] djtfmartin commented on #206
Priority Habitat North & South are now loaded.

Central has issues.

[2017-08-08 14:05] CEJohnston commented on #206
North and South are looking good - much appreciated.  For Central perhaps it got corrupted during download and upload?  I shall re-source and re-upload to S3 and let you know when it is ready to try again.

[2017-08-08 15:32] CEJohnston commented on #207
Thanks Dave - and thanks for leaving the notes above.

[2017-08-08 16:06] MandyHenshall opened #322 ""Best match" results issue"
Email from a user:
I just searched NBN for the bat-fly: Basilia nana.
It found 139 results. It claimed to present the results in descending order of “best match” but the first match was Betula nana. Basilia nana was at the foot of page 6. I clicked on it and it said “0 records” and showed me a map of Africa (presumably centred on lat/lon 0,0).
You’ve got a lot more development to do to make the ne

[2017-08-08 16:23] djtfmartin commented on #322
Ive removed the boost by occurrence count for now as it appears to problematic.

https://species.nbnatlas.org/search/?q=Basilia+nana

is now performing better.

[2017-08-08 16:23] #322 closed

[2017-08-08 16:24] djtfmartin commented on #321
Ive removed the boost by occurrence count as it has an adverse affect on exact matches.

[2017-08-08 16:24] #321 closed

[2017-08-09 09:21] CEJohnston commented on #206
I have uploaded a freshly sourced copy of the Central layer to S3.  Please note: different file name -  PHI_v2_1_Central2.shp.
Please use the same variables for ingest as the original PHI_v2_1_Central.shp
I hope this copy is not corrupted.
Thanks!

[2017-08-09 12:51] GiselleSterry opened #323 "easy map not working"
EasyMaps has been non-functional all morning.

I would be grateful if this fault could be fixed as soon as possible, as our HBRG website content and our data management tasks are seriously adversely affected.

Can you advise @djtfmartin @sophiathirza
thanks

[2017-08-09 13:20] djtfmartin commented on #323
Ive given it a kick. Its back up.

[2017-08-09 13:20] #323 closed

[2017-08-09 17:43] sophiathirza commented on #285
I have re-uploaded the dataset, after reformatting the dates.

@djtfmartin would you import the data please? There are over 92,000 records in the dataset but only 91,000 in the current dataset online. So it looks like not all of the records imported.

[2017-08-11 12:51] PurbaChoudhury opened #324 "Problems downloading data"
User Stephanie Davies (StephanieDavies@tep.uk.com) has not been able to download some data that she has selected. She is getting the attached error message that her "download is now being queued" but she has not received an E-mail to her account linked to her NBN Atlas account to tell her that the download is complete.

Is this a new bug?

Purba

![atlas problem - 11 aug 2017](https://user-images.

[2017-08-14 07:58] GiselleSterry opened #325 "Fallopia japonica | Janapese Knotweed"
Spelling error on NBN Atlas for 'Common Name'. When create list of record spelling error shows up but not on the overview page.

We were featured in a BBC article over the weekend about this so would be good to correct spelling asap.

http://www.bbc.co.uk/news/business-40899108

[2017-08-14 11:35] MandyHenshall opened #326 "Cylindrocystis gracilis and other species list order"
Apologies if this has already been posted, but I can't see it on here.  Posts from the NBN Forum on 6th August by Chris Johnson at https://forums.nbn.org.uk/viewtopic.php?id=6799

[2017-08-14 11:58] MandyHenshall opened #327 "Downloads taking too long"
Post on the NBN Forum from Charlie Barnes:
I initiated a large download on the 9th, and due to it's size (and expected duration) closed the browser and waited for the email with the link. This hasn't arrived yet and there doesn't seem to be a way view pending or previous downloads.
Should downloads take this long (two days?) or has the email got lost in the post?

[2017-08-14 12:03] MandyHenshall opened #328 "Logging in to download takes user away from their search"
NBN Forum post from Mark Pollitt:
I'm logged into the Atlas. I go to explore a location, select a place and a radius, and a species list appears. All fine so far.
So I want to download the species list. I click download and it tells me I need to login to download records - hmmm. I hit the login button and it takes me to the records page for all 215 million atlas records.
Not very useful...

Can it

[2017-08-14 12:05] MandyHenshall opened #329 "Species list downloads - add English names to help public and taxon group"
NBN Forum post: https://forums.nbn.org.uk/viewtopic.php?id=6970
A request to add English names as well scientific names to species list downloads. If the general public are to be directed to use some of the (potentially) simple tools for exploring records, English (common) names, where they exist, would I'm sure be very helpful to them.
Might I add that the taxon group (insect-dragonfly, terrestri

[2017-08-14 12:12] MandyHenshall opened #330 "Cladonia chlorophaea - large number of matches for same binomial"
See posts below, but please note the comment "about the lack of progress on this issue?" These posts are from yesterday and today. https://forums.nbn.org.uk/viewtopic.php?id=6971

My latest example is as follows, how can you expect the general public to use the Atlas when presented with the following!
If you search for Cladonia chlorophaea the following appears:
Cladonia chlorophaea (Florke ex Som

[2017-08-15 08:28] MandyHenshall commented on #328
I didn't read this properly and Mark was already logged in and it then asked him to login to download.  I've just tried and it did the same for me from searching as described above.
![login to download](https://user-images.githubusercontent.com/27201815/29308001-faa1b2e6-819b-11e7-8351-877724e768c8.jpg)

[2017-08-15 09:14] djtfmartin commented on #326
As far as I can see this is all expected behaviour. We dont have records for Cylindrocystis gracilis.

The map should centre on UK when theres no records, but this is minor issue.

[2017-08-15 09:16] djtfmartin commented on #328
closing. duplicate of #311

[2017-08-15 09:16] #328 closed

[2017-08-15 13:11] SarahHyslop opened #331 "Suspect records for Crucian Carp and Tench??"
Someone has contacted us regarding possible suspect records for Crucian Carp and Tench - they say around 20% of the records from a range of data providers and dates seem to be in suspect locations i.e. not near water....could this be investigated?

https://species.nbnatlas.org/species/NHMSYS0000544635
https://species.nbnatlas.org/species/NHMSYS0000544773

[2017-08-15 13:17] MandyHenshall commented on #327
Follow up post today from Charlie:
There seems to be a delay from a dataset appearing on the NBN Atlas to records actually being visible. This is fine - I assume there is some data propagation going on - but how long should we be expecting to wait before the dataset is "usable"?
(as an example, I can't see any records for datasets with metadata last updated on 2017-08-09)
Might be worth considerin

[2017-08-15 13:21] MandyHenshall commented on #326
I have posted to update the Forum, but this response has now been posted.  I'm not sure how it should be appearing so need advice regarding our response please:

[2017-08-15 13:33] djtfmartin commented on #326
https://species.nbnatlas.org/species/NHMSYS0000601978#names

the species inventory has provided a synonym "Cylindrocystis gracilis" for Cylindrocystis gracilis. Im not sure why. Could be a taxonomic synonym.

[2017-08-15 13:36] djtfmartin commented on #330
This is a bit of mess but i think its specific to this name. There are 3 taxa with the same binomial "Cladonia chlorophaea" and i think this is causing the issues.

https://species.nbnatlas.org/species/NHMSYS0001477591#classification

Im down grading it as i dont think its that widespread.

[2017-08-15 13:44] MandyHenshall commented on #330
There are a number of other examples on the NBN Forum though relating to different species, which I think you have been speaking to Chris Raper about: https://forums.nbn.org.uk/viewtopic.php?id=6799
A further message from Chris Johnson from 6th Aug:

E.g. Search for Carsia sororiata  produces the following:
Physcia caesia (Hoffm.) Fürnr. (1567)
Postia caesia (Schrad.) P. Karst. (152)
Carsia sorori

[2017-08-15 13:47] djtfmartin commented on #330
These problems where fixed last week - ive removed the ranking based on occurrence count for now as its problematic.

See

https://species.nbnatlas.org/search/?q=Caryocolum+alsinella

and

https://species.nbnatlas.org/search/?q=Carsia+sororiata

[2017-08-15 14:03] japonicus commented on #330
For both of those example searches a non-accepted name comes first on the results list (the accepted name is the third or fourth entry on the list).

[2017-08-15 14:06] djtfmartin commented on #330
Thanks @japonicus. Yes you are right, but the forum post was describing quite a different result.

[2017-08-16 15:02] PurbaChoudhury opened #332 "Delay in Records Appearing"
A comment has been left on the NBN Forum about a download taking 9 days to complete.
Please see: https://forums.nbn.org.uk/viewtopic.php?id=6968

Thanks.

Purba

[2017-08-16 15:38] djtfmartin commented on #332
There was a couple problematic downloads that blocked the queue of the weekend. Still investigating the cause, but its now working properly.

This was also reported here by @MandyHenshall #327

[2017-08-16 15:38] #332 closed

[2017-08-16 15:39] djtfmartin commented on #327
There was a couple problematic downloads that blocked the queue of the weekend. Still investigating the cause, but its now working properly.

[2017-08-16 15:39] #327 closed

[2017-08-16 15:39] djtfmartin commented on #324
There was a couple problematic downloads that blocked the queue of the weekend. Still investigating the cause, but its now working properly.

Same issue reported here #327

This is expected behaviour for all downloads. Downloads are all queued, but there was a problem over the weekend with a couple.

[2017-08-16 15:39] #324 closed

[2017-08-17 08:55] SarahHyslop opened #333 "Bombus sylvestris incorrect image?"
Feedback from user;

Just trying to be helpful.  You illustrate this map (Bombus sylvestris) with an image but the bee in the picture is not that species.  Bombus sylvestris is a cuckoo bee and does not collect pollen.  I suspect that the photo is B. pratorum.

https://species.nbnatlas.org/species/NHMSYS0000875498

[2017-08-17 09:04] SarahHyslop opened #334 "Adding a pre and post 1999 date range function on main search"
To be able to easily map the post 2000 records;

Suggested by user to save having to go through the occurrence tab, customisable filters or via the form in the advanced search options.

[2017-08-17 09:07] SarahHyslop opened #335 "Adding the species name to an image which is currently missing"
A comment to images from a user: https://images.nbnatlas.org/image/details/5880889

In this image, not species/taxon name is given, which seems to be the most relevant bit of information in a site about biodiversity?
<img width="760" alt="nbn_network" src="https://user-images.githubusercontent.com/26628372/29404757-d006df9a-8333-11e7-8568-59675cf37bf1.PNG">

[2017-08-17 09:07] djtfmartin commented on #334
duplicate of #255

[2017-08-17 09:07] #334 closed

[2017-08-17 11:11] EllaVogel commented on #314
I've checked with David Roy about whether one of them can be deleted. I'll keep you both posted on how we need to proceed.

[2017-08-17 14:37] EllaVogel commented on #314
We can delete dr1519 (https://registry.nbnatlas.org/public/showDataResource/dr1519) as it is an old version of dr1485 (https://registry.nbnatlas.org/public/show/dr1485). The old version has a LSID (GA001431) associated with it (which I assume got carried over from the Gateway) that is useful to the BRC and National Plant Monitoring Scheme, can we link this LSID with the new version of the dataset

[2017-08-17 15:40] EllaVogel commented on #314
Additionally, a question from Oli Pescott: Presumably if you can’t move the LSID then it is fulfilling the same function as a unique DOI for a dataset version, suggesting that you will probably be getting rid of them at some point?

Is he correct in thinking that the LSID and the DOI are fulfilling the same function, and therefore the LSID may be irrelevant?

[2017-08-21 08:40] MandyHenshall opened #336 "URGENT - NBN Atlas problems - Maps not loading Monday 21st August"
I've just had a report of maps not working.  I've tried myself and maps either not loading through basic occurrence search or through analyse option message across all the maps saying layer unavailable.

[2017-08-21 08:59] MandyHenshall opened #337 "Taxonomic anarchy"
Sorry, but I can't find my original report of this in the issues list here.  New message on NBN Forum:

Please, if I use the search box on the welcome screen, type in "Bombus terrestris" and select "Bombus terrestris - species", why do I see a list of 318 different taxa?
Why on earth are "Aplanopsis terrestris Höhnk - Taxon group: fungoid, Muriella terrestris J.B. Petersen, 1932 - Taxon group: alg

[2017-08-21 09:19] djtfmartin commented on #336
this is fixed. there was an issue with the main search indexes.

[2017-08-21 09:19] #336 closed

[2017-08-21 09:21] djtfmartin commented on #337
I don't think theres an issue here. This is expected behaviour for the system.

The search works by finding the closest match and in the case of "Bombus terrestris" its the top result.

If then will show matches for results which aren't as close to the search term, in this case its matching taxa with the same epithet "terrestris".

[2017-08-21 09:21] #337 closed

[2017-08-21 10:30] MandyHenshall opened #338 "Spatial portal not working?"
Hi Dave,

Is there an issue with the portal at the moment?  However I try and get to "analyse", the website is just whirring and not going anywhere....

Mandy

[2017-08-21 10:37] MandyHenshall commented on #338
After the 3 minutes since I posted I got this error message:
![image](https://user-images.githubusercontent.com/27201815/29515545-bedab622-8664-11e7-8af4-14533c5ba1a5.png)
If this server error comes up, we need to change this to relate to the NBN Atlas and the support@nbnatlas.org email address rather than ALA.

[2017-08-21 10:52] djtfmartin commented on #338
its back up.

[2017-08-21 10:52] #338 closed

[2017-08-21 18:40] djtfmartin commented on #283
Just for notes, in the current DwC-A we produced for the Atlas based on an export of UKSI, the vernacular name was pointing to a taxon NHMSYS0020475523 which is missing from the taxa.csv either due to absence in source data or a bug in the transformation script.

[code]

[2017-08-22 08:27] MandyHenshall commented on #285
There's still an issue with the dates...
"something still not quite right with the dates. I’m seeing 69,936 records with Year = “Unknown”. Also a bit odd that there are 55 records with licence = “Unknown”. All records should be licenced as CC-BY".
Can you please re-look at this @djtfmartin Thanks.

[2017-08-22 10:21] EllaVogel opened #339 "Number of records displayed is incorrect"
There appears to be a bug affecting the number of records displayed against a resource.

Example: https://registry.nbnatlas.org/public/show/dr1485 says, generally, 56,863 records.

However, if I login and go through the download process, (View records> Download > Occurrence data in simple CSV format) then return to search results, the results now list 42,664 results, and, if I navigate back to htt

[2017-08-22 12:13] djtfmartin commented on #339
usage stats are working now. this was a problem related with the als.scot domain (which has expired).

investigating the counts issue - but its not related to logins. I see the same issue logged in and logged out.

[2017-08-23 13:31] EllaVogel opened #340 "Bug in spatial portal: once view is changed from grids to points, you can't change back"
If a species is mapped in the spatial portal, and points are turned on instead of OS grids, once you have changed the 'colour by' option (e.g. colour by decade), you can't stop the map from showing the 'colour by decade' points, even if you try to turn it back onto OS grids. I have tried re-loading the page and it's still stuck on points. I suppose the only way is to clear the cache.

[2017-08-23 14:07] EllaVogel opened #341 "New download tool is offline"
I've just downloaded all of the Japanese Knotweed data as a test, and the new download wizard didn't come up. I was able to download, but using the old system. Is this intentional?

[2017-08-23 14:51] EllaVogel opened #342 "Licence information isn't downloading for all of the records."
I downloaded all of the Japanese knotweed records, and in the 'citation' file, column E 'Rights' doesn't always have a licence listed, and on these rows, column B 'Name' has the data partner name, not the dataset name (and the 'more info' link (column F) takes you to the whole data partner page, not the dataset page for the specific dataset that the records came from). Therefore, data users will h

[2017-08-28 08:24] sophiathirza commented on #280
I have forked the original EasyMap_Shim repository into nbnUK. The additional query string parameter (fq=-occurrence_status=absent) has been added to the web service calls.

This now just needs to be made live.

I had to change all readall() method calls on httpresponse objects to read() in order for the code to work locally: https://www.bountysource.com/issues/30244474-httpresponse-object-has-no-

[2017-08-28 08:25] sophiathirza commented on #298
The change to the EasyMap shim code has been made (see #280), the update needs to be copied to production.

[2017-08-29 08:55] MandyHenshall opened #343 "Issue with viewing Prionocera turcica record"
A user reported trying to get some information from the Atlas earlier today - details of two taxon records for Prionocera turcica - one provided the information without a problem while the other gave this error message:
Something went wrong....
•	Error: unknown
•	Failed to get json from web service (https://records-ws.nbnatlas.org/occurrence/385e2aa9-7db7-437a-966a-79f35630f7dc). class java.io.IOE

[2017-08-29 09:01] MandyHenshall opened #344 "Error messages when searching"
Another issue with searching has been reported (on Sunday) and I have just tried a general search, some records are fine, but for others I am also getting this error message when clicking the grid square on occurrence records and then view records.

Message, as follows:

I have been looking at some liverwort records from Buckinghamshire and keep getting an error message as follows.  I can get with

[2017-08-29 10:48] djtfmartin commented on #342
this information comes (and can be changed using the admin UI) from the registry.nbnatlas.org. So we need to update the "Rights" field for datasets.

[2017-08-29 10:52] djtfmartin commented on #340
I just tried to reproduce this with no joy. Can you provide more detail on what you did ?

[2017-08-29 10:56] djtfmartin commented on #340
Scratch that - i can reproduce. I used a different decade option. It seems to be a problem specific to the Decade facet.

[2017-08-29 11:51] MandyHenshall opened #345 "Download fails in Darwin Core"
Is this a known issue or do we need more info on exactly what he was trying to download?

I tried to download data from the Atlas in Full Darwin Core format, and I received an email stating that the download had failed.  This also happened when I attempted to select custom fields in a spreadsheet download.  I can however download the basic spreadsheet format fine.  Is there a fix for this coming s

[2017-08-29 12:29] EllaVogel commented on #342
I'm not sure this is the issue (or I'm not understanding properly).

For example, in the citation download, we are given 'Derbyshire Wildlife Trust' instead of the dataset that the info comes from. Looking at their page, I can make an assumption which dataset holds the Japanese knotweed data, but for other data partners it wont be so obvious. Also, the dataset that holds the Japanese Knotweed data

[2017-08-29 12:58] djtfmartin commented on #342
Im not sure i follow either, but hopefully this helps:

The citation.csv should have both the data partner as a line and the dataset (ive just tested and this looks ok).
The data partners don't have a "rights" field, so this is always blank.

[2017-08-29 13:01] djtfmartin commented on #342
Im not seeing this behaviour in the downloads ive tested.

<img width="1424" alt="screenshot 2017-08-29 14 02 11" src="https://user-images.githubusercontent.com/444897/29822239-b0bc6216-8cc2-11e7-847f-67f1b6f0e652.png">

[2017-08-29 13:08] EllaVogel commented on #342
I'll email you the download that I have. It's not letting me upload here.

[2017-08-29 13:24] djtfmartin commented on #342
closing as there doesnt seem to be an issue. Perhaps we should raise enhancements to separate the citations or add additional columns to help sorting.

[2017-08-29 13:24] #342 closed

[2017-08-29 13:28] djtfmartin commented on #344
I fixed this this morning.

[2017-08-29 13:28] #344 closed

[2017-08-29 13:29] djtfmartin commented on #343
this was the same as #344. Fixed

[2017-08-29 13:29] #343 closed

[2017-08-29 13:29] djtfmartin commented on #341
Not intentional. What tool did you use to download the data ?

[2017-08-29 13:58] EllaVogel commented on #341
It was just the old tool where the download is direct from the Atlas, not queued and then emailed. I think I just downloaded direct from the records list.

[2017-08-30 08:21] MandyHenshall opened #346 "No login on mobile device"
We have been alerted to the fact that there is no ‘log in’ button or sign-in link on the NBN Atlas on iPhone.  I've tried and this is correct.  Not sure whether it's just iPhone or all mobile devices.

Not sure if this is you Dave or RedPaint?

[2017-08-30 08:32] PurbaChoudhury opened #347 "Intermittent problem with Location Search"
On some internet browsers (particularly Microsoft Edge and sometimes intermittently on Google Chrome) the Location search "Explore by address, postcode or location" is not working intermittently.

When typing in a postcode or name of a place, after pressing the "Search" button, the postcode/words  that have just been typed in the "Enter your location or address" box, DISAPPEAR, and the search does

[2017-08-31 09:41] EllaVogel commented on #346
I think this is on all devices, as even if you just shrink the internet browser right down on your computer screen the log-in button goes as well.

[2017-08-31 10:14] GiselleSterry commented on #346
As a workaround I have added  a log in link on the top navigation menu so when you tap on the three lines box the option to log in is displayed.

[2017-08-31 14:35] GiselleSterry opened #348 "Click on region search result for sSSI returns error"
If search for SSSI top results are regions eg Region: Maulden Church Meadows SSSI. When you click on the link an error message is returned.

Reported by user.

[2017-08-31 14:54] djtfmartin commented on #348
this should be fixed now

[2017-08-31 14:54] #348 closed

[2017-08-31 14:55] djtfmartin commented on #345
i think this was caused by the same issue affecting #344 so it should be fixed now

[2017-08-31 14:55] #345 closed

[2017-09-01 09:42] sophiathirza commented on #314
Yes, my understand is that LSID and DOI are fulfilling the same function.

@djtfmartin please would you delete dr1519?

[2017-09-01 10:05] sophiathirza commented on #331
@SarahHyslop  would you send me their contact details please?

[2017-09-04 09:16] GiselleSterry opened #349 "Chub (Squalius cephalus) - wrong images"
https://species.nbnatlas.org/species/NHMSYS0020755094
the Chub (Squalius cephalus) has been associated with images referring to a fungi.

Images coming from EoL.

Reported by user 31 Aug 2017.

[2017-09-04 14:47] sophiathirza opened #350 "Record missing from dr890"
NBN Atlas should have a record from the Isle of Raasay (NG578395) for "Clavaria fragilis Fr." (TVK=NBNSYS0000144600), recommended name "Clavaria fragilis Holmsk." (TVK=NHMSYS0001477796).

Dataset: https://registry.nbnatlas.org/public/show/dr890

The dataset has 11 entries for NHMSYS0001477796 and none for NBNSYS0000144600.

[2017-09-04 14:50] sophiathirza commented on #350
@djtfmartin would you give me access to download the DarwinCore zip for dr890, please?

[2017-09-05 11:24] djtfmartin commented on #350
this is fixed. The previous index rebuild had an issue.

https://records.nbnatlas.org/occurrences/search?q=data_resource_uid%3Adr890&fq=species%3A%22Clavaria%20fragilis%22

https://records.nbnatlas.org/occurrences/d30a2888-9073-4b13-93c9-cc31df2dfa39

[2017-09-05 11:24] #350 closed

[2017-09-05 11:27] djtfmartin commented on #339
i think this was caused by a problem with one of the index servers that has now been fixed. Closing. Please reopen if you still see the issue

[2017-09-05 11:27] #339 closed

[2017-09-05 12:56] djtfmartin commented on #285
All records have a licence and the dates seems to be parsed ok. closing

[2017-09-05 13:07] GiselleSterry commented on #285
Hi @sophiathirza @djtfmartin Still not right. Showing records collected between 2019 and 2029!
Example
https://records.nbnatlas.org/occurrences/3e12f7b3-0ef7-4f48-95fd-9f5d6130ad6d

[2017-09-05 13:11] sophiathirza commented on #285
Yes, the dates are okay on the dataset overview page but there are some invalid records dates. I will check the data.

[2017-09-05 13:24] sophiathirza commented on #285
The dates are like that in the supplied csv file. I will contact the data providers.

The csv file contains 92,465 records but there are 95,046 online.

[2017-09-05 14:48] sophiathirza commented on #280
EasyMaps is no longer displaying absence records.

[2017-09-05 14:48] #280 closed

[2017-09-05 15:12] GiselleSterry opened #351 "Data Partner Reports not working"
Get an error message if click on either
Download user report for this data partner
Download detailed user report for this data partner

[2017-09-05 19:19] djtfmartin commented on #351
this is fixed.

[2017-09-05 19:19] #351 closed

[2017-09-06 09:16] MandyHenshall opened #352 "Species search in Explore by address, postcode, location isn't working correctly."
If I type in fox for instance it takes me to a map of New York!  If I type in bat it takes me to Kota Batu in Indonesia.

![image](https://user-images.githubusercontent.com/27201815/30104008-41d30776-92ec-11e7-931b-3d44c864a6bc.png)

[2017-09-06 10:21] djtfmartin commented on #352
The results are a bit silly, but im not sure what the expected behaviour is here. The search box is for an address.

[2017-09-06 13:15] CEJohnston opened #353 "Download to full Darwin Core missing occurrenceStatus field"
Testing the download for natterjack toad records (in NBN Atlas Scotland) - downloaded to the full Darwin Core but need the occurrenceStatus field in order to filter records by present or absent. It appears not to be included.

[2017-09-06 14:06] CEJohnston commented on #312
@sophiathirza @djtfmartin  A natterjack toad download has the same problem - do we know why this is happening and when the Full Darwin Core download will work?

[2017-09-07 08:39] sophiathirza commented on #353
In addition, we have had a request that the fields 'habitat' and 'comments' be added to the DwC download. These are the names from the Gateway, I need to find out what the DwC terms are.

[2017-09-07 08:52] sophiathirza opened #354 "Add species filter to location search"
After completing a search by location, the ability to filter or search on the species list would be really useful.

[2017-09-07 08:59] sophiathirza commented on #354
The request came from an ecologist who said that 2km radius is more commonly used in consultancy.  @djtfmartin can we add 2km to the search radius dropdown? Is it very simple to do? This would help as it would mean that less species are returned.

[2017-09-07 09:13] sophiathirza commented on #298
The GB Non Native Species website will now start using EasyMaps on their website.

[2017-09-07 09:13] #298 closed

[2017-09-07 09:15] sophiathirza commented on #353
The request is to have the additional properties on a record included in the download file. Is this possible? I imagine that it is not so straightforward as the properties may be different depending on the record.

[2017-09-07 15:21] EllaVogel opened #355 "Output grid refs at lower resolution than when uploaded"
Email through regarding BBS data downloads: It seems that the Atlas downloads limits Grid Refernce accuracy to six figures (e.g. SJ296143) even when more accurate GRs are part of the original record.

[2017-09-07 15:35] djtfmartin commented on #355
Cant reproduce.

Heres what i did.

1) https://records.nbnatlas.org/occurrences/search?q=grid_ref:SJ296143
2) Downloaded the 6 records
3) I can see the full res grid reference in the OGSR column

<img width="1153" alt="screenshot 2017-09-07 16 34 16" src="https://user-images.githubusercontent.com/444897/30171649-780f71c2-93ea-11e7-95a5-517be02fd680.png">

[2017-09-07 15:50] EllaVogel commented on #355
Reopening, because I think the point he was making is that the records were supplied with a more accurate grid reference than the 6 figures given in column Z. I think these may have been supplied as 8 figure grid refs

[2017-09-07 16:08] EllaVogel commented on #355
Actually, lets put this one on hold for a moment. Waiting for extra confirmation that the records were supplied at a higher precision.

I'll update when I can.

[2017-09-10 09:05] djtfmartin commented on #354
Ive added the 2km radius for explore your area.

[2017-09-10 09:06] djtfmartin commented on #352
Ive added a filter to remove answers outside of UK. Not sure what else to do for this so will close.
The search box is clearly intended to take a location rather than a taxon.

[2017-09-10 09:06] #352 closed

[2017-09-10 09:06] djtfmartin commented on #347
@PurbaChoudhury

I think this is now fixed with the latest update. Can you test and confirm ?

[2017-09-10 09:07] djtfmartin commented on #341
I cant reproduce this. Please reopen if you know the source of the download.

[2017-09-10 09:07] #341 closed

[2017-09-10 09:08] djtfmartin commented on #320
This is now fixed.

<img width="1440" alt="screenshot 2017-09-10 10 08 21" src="https://user-images.githubusercontent.com/444897/30247597-07158d3a-9610-11e7-8a57-ae30f23c9c54.png">

[2017-09-10 09:08] #320 closed

[2017-09-10 09:09] djtfmartin commented on #311
This is now fixed. The download button redirects to the download page.

cc @JoJudge

[2017-09-10 09:09] #311 closed

[2017-09-11 08:13] EllaVogel commented on #355
The original issue is correct. An example sent through: A BBS record of Schistidium pruinosum from Breidden Hill was returned by a polygon search on the NBN but summarised to SJ288139. The original BBS record gives the accurate GR (SJ28841398)

[2017-09-11 08:16] sophiathirza commented on #331
Details from email:

In the NBN Atlas I first click Species then (on this occasion) in Search for Taxa enter Tinca, then click on Tinca Tinca (Linnaeus, 1758)-Tench which takes me to the Occurence Records Map (6,629 records).  Click view map - map showing mass of 10 km yellow squares (variable grids).  Then zoom in to choose a square eg. SH77 showing 1 record.  Click view record, Provider:- Cofnod

[2017-09-11 08:26] sophiathirza commented on #347
@djtfmartin would you give me a bit of information about what the problem was, so that I can reply to an email that reported this problem, thanks?

[2017-09-11 08:44] djtfmartin commented on #347
I think the problem was a javascript caching issue. Can i close this ?

[2017-09-11 08:47] djtfmartin commented on #355
thanks @EllaVogel
Have you got a link to an example record in the Atlas ?

[2017-09-11 08:47] sophiathirza commented on #347
thanks, I will reply to the email and ask the person to test. I'll close when I hear back, thanks.

[2017-09-11 08:54] djtfmartin commented on #355
Ive just checked the raw BBS data and we don't have any records supplied with the grid reference SJ28841398.
The only reference to SJ28841398 is in a comments field. Screenshots from the raw data

<img width="1268" alt="screenshot 2017-09-11 09 52 47" src="https://user-images.githubusercontent.com/444897/30266388-1c986c96-96d7-11e7-9b96-2bb51ab01871.png">
<img width="1112" alt="screenshot 2017-09-

[2017-09-11 10:03] EllaVogel commented on #355
Thanks Dave, I'll pass this info onto the person who raised the issue. The truncation must have happened before the record got to us

[2017-09-11 10:12] sophiathirza commented on #355
#331 may be the same issue

[2017-09-11 10:20] EllaVogel commented on #331
Yes, there could be a link here. If the records were transferred from the gateway, they might have reduced precision. We could ask for a re-load to see if that fixes these errors with more accurate locations

[2017-09-11 11:11] sophiathirza commented on #347
This is working correctly now.

[2017-09-11 11:11] #347 closed

[2017-09-11 11:13] sophiathirza opened #356 "Intermittent problem clicking on 100km hectad links"
Reported by email:

None of the 100km hectad links works on https://records.nbnatlas.org/occurrences/search?q=lsid:NBNSYS0000030336#tab_mapView.  Hover on, e.g. NX, and the pointer changes but no link opens.

This problem appears unpredictably and inconsistently.

[2017-09-11 11:14] sophiathirza commented on #356
@djtfmartin could there by another script caching on the page? I have never had this problem but it was reported by someone who wasn't able to use the location search until the update.

[2017-09-11 11:51] djtfmartin commented on #356
Im not sure. I suggest we ask the user for the OS and browser.

[2017-09-11 13:27] sophiathirza commented on #356
I was able to recreate this.

I did a species search (Tinca tinca), clicked on view map and the grids were clickable. I viewed a few records and then clicked the back button on the browser. From then on the grids were no longer clickable. I had to close and reopen the browser.

[2017-09-11 13:27] sophiathirza commented on #356
OS and browser from the user:

W10, I use Opera 47.0 as default, but have just checked in Chrome 61.0.3163.79 and Edge 40.15063.0.0.

The page has worked fine in all these before, and right now is failing as described in Opera and Chrome, but working in Edge.

[2017-09-11 19:14] sophiathirza opened #357 "Easy Maps only showing dots and no background map"
The background maps are not displaying for most maps: http://www.hbrg.org.uk/MainPages/NBNMaps/MapsFW_Fish.html

[2017-09-11 20:43] djtfmartin commented on #356
i think this is fixed. A bug introduced in the last update.

[2017-09-11 20:49] djtfmartin commented on #357
layers service was down. back up again.

[2017-09-11 20:49] #357 closed

[2017-09-12 08:17] djtfmartin commented on #135
this is fixed. the link now goes through to the download wizard

[2017-09-12 08:17] #135 closed

[2017-09-12 08:36] sophiathirza opened #358 "Error clicking on records from species overview page"
I have not been able to recreate this but Jo says that she continually gets the error.
![image](https://user-images.githubusercontent.com/1651015/30316033-1eb5a366-97a6-11e7-9bad-9a9f07290887.png)

This is on the Japanese knotweed overview page.

Is it possible to change the error message to give more details?

[2017-09-12 08:37] sophiathirza commented on #325
@djtfmartin does this text come from the UKSI? Is it possible to correct the spelling error?

[2017-09-12 08:45] djtfmartin commented on #358
it happens if the user clicks "view records" before the page has finished loading the charts.

[2017-09-12 08:46] djtfmartin commented on #325
it comes from UKSI. UKSI has several variants for the name. We need a mechanism for prioritising the common names which is missing from our name matching indexes. Something to tackle with the new UKSI export.

[2017-09-12 08:49] sophiathirza commented on #356
I can't recreate it any more, thanks. I have asked the users to check.

[2017-09-12 08:50] sophiathirza commented on #358
Is it possible for the error message to say, please wait for the charts to load?

[2017-09-12 08:56] djtfmartin commented on #358
i think we can just fix the problem.

[2017-09-12 09:04] sophiathirza commented on #358
that would be best, thanks.

[2017-09-12 09:18] sophiathirza commented on #296
@GiselleSterry is this still an issue? can we close it?

[2017-09-12 09:30] GiselleSterry commented on #296
@sophiathirza - please close.

[2017-09-12 09:32] #296 closed

[2017-09-12 09:38] sophiathirza commented on #268
@GiselleSterry would you send me a link to where this is happening, please?

[2017-09-12 09:39] sophiathirza commented on #267
@GiselleSterry is this still a problem? can I close it?

[2017-09-12 09:51] GiselleSterry commented on #268
Not sure if still relevant may have been a bug that is fixed - see attached document on original post. Reported by a user - just tried myself on a random dataset and it worked ok. @sophiathirza

[2017-09-12 09:54] sophiathirza commented on #268
I tried to follow the document but didn't understand it. I will close for now and we can reopen if the problem is reported again.

[2017-09-12 09:54] #268 closed

[2017-09-12 09:55] GiselleSterry commented on #267
Are you able to see details on when user last logged in? If not will be a case of us emailing user to see if they can access NBN Atlas. @sophiathirza

[2017-09-12 10:09] sophiathirza commented on #265
I have been able to recreate this, on a report where the number of species is the same for each classification.

[2017-09-12 10:12] sophiathirza commented on #262
@EllaVogel could you help me with this? thanks.

[2017-09-12 10:14] sophiathirza commented on #258
@SarahHyslop can this be closed?

[2017-09-12 10:20] sophiathirza commented on #249
@EllaVogel can you help me with this one?

[2017-09-12 10:21] sophiathirza commented on #248
@SarahHyslop do you have more information about this issue or can I close it?

[2017-09-12 10:50] sophiathirza commented on #234
This is still a problem.

[2017-09-12 10:53] SarahHyslop commented on #258
Hi @sophiathirza yes I think this can be closed as its quite old and we dont seem to have an issue at present with the activation emails.  Thanks!

[2017-09-12 10:55] sophiathirza commented on #231
@GiselleSterry is this still outstanding? There is the text: 'Your email address will be your ALA account id' which should be removed

[2017-09-12 10:55] SarahHyslop commented on #248
@sophiathirza I cant recall what this was about so think it can be closed as I dont have any detail on this....perhaps I created this in error as there should be detail there if it was a 'real' issue.  Thanks for checking!

[2017-09-12 10:56] #248 closed

[2017-09-12 10:59] #258 closed

[2017-09-12 11:00] GiselleSterry commented on #231
Still relevant. References to ALA need to be removed so instead should say '...will be your NBN Atlas id'
Is it possible to remove the telephone number box on the create account page. We dont use this info so we should not collect it. @sophiathirza

[2017-09-12 11:09] sophiathirza commented on #231
Please remove the telephone number box and change ALA to NBN (NBN Atlas ID).

[2017-09-12 11:14] sophiathirza commented on #228
@GiselleSterry is this two separate issues? The first relating to showing records for synonyms and the second to add additional navigation? thanks.

[2017-09-12 11:18] sophiathirza opened #359 "Investigate external services to check urls"
Options include:
* Pingdom (https://www.pingdom.com)
* New Relic (https://newrelic.com/alerts)
* StatusCake (https://www.statuscake.com)

[2017-09-12 11:25] sophiathirza commented on #218
@EllaVogel can you help me with this one please?

[2017-09-12 11:35] sophiathirza commented on #213
@djtfmartin can you change the ALA email address to NBN please?

[2017-09-12 11:38] sophiathirza commented on #203
@CEJohnston is this still a problem? I didn't see the Scotland logo, thanks.

[2017-09-12 11:40] sophiathirza commented on #193
@ #231

[2017-09-12 12:29] GiselleSterry commented on #228
@sophiathirza - one issue I think. See forum thread - relates to link to data - see text from forum thread....

Picking up on this - I would expect this page:
https://species.nbnatlas.org/species/NHMSYS0000875588
to show records even though it is a synonym? It would be very easy to find yourself on that page and think that there were no records of Bombus soroeensis. Doubly so as it has a bar code,

[2017-09-13 09:24] sophiathirza commented on #356
I have not heard back, so I assume all is okay now.

[2017-09-13 09:24] #356 closed

[2017-09-13 09:31] MandyHenshall opened #360 "Occurrence page links going to ALA"
Reported this morning:

on the Occurrence records page e.g.:
https://records.nbnatlas.org/occurrences/search?q=lsid:NHMSYS0020151698#tab_chartsView

If you click on one of the columns in the Vice-county map, it takes you to the Living Atlas of Australia! In fact, most of the links are to:
http://biocache.ala.org.au/occurrences/search?q=...

[2017-09-13 09:45] MandyHenshall commented on #360
Further issue reported on the occurrence page:

https://records.nbnatlas.org/occurrences/e8a7db9d-b571-4a28-9246-5f32dfb6c4ea#

it is using the wrong character set or encoding because foreign characters are not displaying properly, see 'Name according to' in the above example page

[2017-09-13 09:52] sophiathirza commented on #181
This is still a problem.

[2017-09-13 09:58] sophiathirza commented on #177
@SarahHyslop is this still a problem?

[2017-09-13 10:00] sophiathirza commented on #173
@GiselleSterry is this still to be done?

[2017-09-13 10:03] sophiathirza commented on #171
I can't open the image, does anyone have more information on this request?

[2017-09-13 10:06] sophiathirza commented on #165
@EllaVogel is this still required?

[2017-09-13 10:06] djtfmartin commented on #171
i think its for this search

https://species.nbnatlas.org/search/?q=red

[2017-09-13 10:07] sophiathirza commented on #163
@EllaVogel is this still required?

[2017-09-13 10:08] sophiathirza commented on #162
@EllaVogel is this still a problem?

[2017-09-13 10:10] sophiathirza commented on #160
@EllaVogel is this still required?

[2017-09-13 10:13] sophiathirza commented on #159
This is a similar requirement as #354 for a species filter to the location search page.

[2017-09-13 10:16] sophiathirza commented on #149
@EllaVogel is this something that we should look at once we have the latest version of the UKSI?

[2017-09-13 10:17] sophiathirza commented on #148
@djtfmartin is this still required? the url doesn't work.

[2017-09-13 10:19] sophiathirza commented on #147
@djtfmartin is this still required? I know that there are date graphs on the species pages.

[2017-09-13 10:21] sophiathirza commented on #144
@EllaVogel is this still outstanding?

[2017-09-13 10:25] sophiathirza commented on #143
@EllaVogel is this still outstanding?

[2017-09-13 10:27] sophiathirza commented on #141
@djtfmartin this is correct on the Atlas, can I close this issue?

[2017-09-13 10:28] PurbaChoudhury commented on #347
Hi @djtfmartin and @sophiathirza
I have tested this now (13 Sept) and the Location search is working when I access the NBN Atlas via the Microsoft Edge browser.  However, as it was an intermittent problem, (ie the Location search did work some of the time and not other times) even when I raised it, we will only know for sure if this is working if we never get a repeat of the postcode or name of pl

[2017-09-13 10:30] sophiathirza commented on #141
sorry, just found the correct search. This is still outstanding.

[2017-09-13 10:35] sophiathirza commented on #86
This is similar to a request from @GiselleSterry:

We have had a suggestion on the forum for showing on the NBN Atlas when new datasets / partners are added. It would be good to have something so that we can promote via social media and newsletter that a new data provider joined /  datasets are now being added.

[2017-09-13 10:37] sophiathirza commented on #128
@djtfmartin @EllaVogel is this still required?

[2017-09-13 10:39] sophiathirza commented on #117
@CEJohnston @djtfmartin is this still required?

[2017-09-13 10:42] sophiathirza commented on #353
#111 lists additional fields to be included in downloads.

[2017-09-13 10:44] sophiathirza commented on #102
@EllaVogel is this still ongoing?

[2017-09-13 10:48] sophiathirza commented on #96
as part of #354 2 km radius has been added.

[2017-09-13 10:53] sophiathirza commented on #78
@CEJohnston can we close this?

[2017-09-13 10:54] sophiathirza commented on #77
@GiselleSterry can this be closed?

[2017-09-13 10:55] sophiathirza commented on #74
@CEJohnston is this still required?

[2017-09-13 10:56] sophiathirza commented on #73
@CEJohnston is this still outstanding?

[2017-09-13 11:01] sophiathirza commented on #40
@CEJohnston is this still outstanding?

[2017-09-13 11:02] djtfmartin commented on #117
Its hasnt be done. Whether its required is a question for @JoJudge and the user groups.

[2017-09-13 11:03] sophiathirza commented on #16
@djtfmartin @EllaVogel what needs to be done here?

[2017-09-13 11:04] sophiathirza commented on #13
@djtfmartin is this still outstanding?

[2017-09-13 11:05] sophiathirza commented on #11
@djtfmartin is this still required?

[2017-09-13 11:05] djtfmartin commented on #16
this has been started by @CEJohnston who has made some amendments to a google spreadsheet.

[2017-09-13 11:32] sophiathirza commented on #228
I didn't understand the 'link back to page with datasets', it means to have a link to view the accepted name of the species, which should have any occurrence data.

[2017-09-13 12:38] djtfmartin commented on #11
its still outstanding. im not sure of the priority.

@CEJohnston has been looking into this.

[2017-09-13 12:39] djtfmartin commented on #13
this is done.

[2017-09-13 12:39] #13 closed

[2017-09-13 12:51] djtfmartin commented on #128
Im not sure. We added an nav menu element

<img width="1440" alt="screenshot 2017-09-13 13 50 23" src="https://user-images.githubusercontent.com/444897/30378278-95cb4980-988a-11e7-90c8-d80b45659c9a.png">

[2017-09-13 13:32] sophiathirza commented on #128
@JoJudge is the position of the advanced search okay? If so, I will close this issue

[2017-09-13 13:36] JoJudge commented on #128
Yes, close the issue.

[2017-09-13 13:37] #128 closed

[2017-09-13 13:38] JoJudge commented on #117
This was ruled out due to cost. It may be worth us taking another look at it at a later date, but isn't currently a priority.

[2017-09-13 14:19] sophiathirza opened #361 "Not all hectads have a grid reference in the default map view for NHMSYS0000309525"
Is it possible for all grids to have their grid reference:
https://records.nbnatlas.org/occurrences/search?q=lsid:NHMSYS0000309525#tab_mapView

[2017-09-13 14:40] sophiathirza commented on #190
There is a forum message that suggests that some records have incorrect dates after being transferred from the Gateway: https://forums.nbn.org.uk/viewtopic.php?id=6962. If only the month or year is supplied then the Atlas sets the date as the first of the month or first of January. This then incorrectly reports occurrences in January.

@djtfmartin  could this be happening?

[2017-09-13 14:46] sophiathirza commented on #40
The als.scot site is no longer available, so closing this issue.

[2017-09-13 14:47] sophiathirza commented on #72
The als.scot site is no longer available, so closing this issue.

[2017-09-13 14:47] #72 closed

[2017-09-13 14:48] sophiathirza commented on #85
The als.scot site is no longer available, so closing this issue.

[2017-09-13 14:48] #85 closed

[2017-09-14 08:02] GiselleSterry commented on #173
Sorry @sophiathirza not sure what this is about. @EllaVogel may be able to assist.

[2017-09-14 08:06] GiselleSterry commented on #77
@sophiathirza  Hi this can be closed. I think its good to have the reasons to help us monitor why people using NBN Atlas. For note new Data Protection regulations are coming in May 2018 so we will have to review the sign up page to make sure we comply. We will need to discuss outside github.

[2017-09-14 08:10] #77 closed

[2017-09-14 08:44] sophiathirza commented on #190
The graphs on the species pages do not take account for the precision of the date: https://species.nbnatlas.org/species/NHMSYS0000516186#records, thus many records with a year precision are appearing in January.

[2017-09-14 10:00] sophiathirza opened #362 "Unable to download occurrence records"
I have tried both from explore your area and a species search, several times. It just says something went wrong, error unknown.

However, in the office, they are able to download.

[2017-09-14 10:30] sophiathirza opened #363 "Add text above occurrence map on species pages"
The occurrence maps on the species pages display as points, which is confusing people when the data is at a grid scale. Please add some text above the occurrence maps to state that the records may be both point and grid-based occurrences at different resolutions.

I think this is quite important, as we are getting quite a lot of comments about it.

Slightly less important, can the link 'View map'

[2017-09-14 10:34] sophiathirza opened #364 "Colour points on occurrence map by their resolution"
We have had this feedback from a few people. It would help in understanding the occurrence map on the species pages if the points could be coloured reflecting their resolution and a legend added.

[2017-09-14 10:43] djtfmartin commented on #362
this is fixed. Config issue from update the other night. This only affected who werent logged in before clicking "Download", hence the different experience between @sophiathirza and office (presumably logged in)

[2017-09-14 10:43] #362 closed

[2017-09-14 10:44] djtfmartin commented on #364
this is already there. See coordinateUncertainty.

[2017-09-14 10:55] sophiathirza commented on #364
on the the species page, the first map the user sees after doing a species search?

[2017-09-14 10:57] djtfmartin commented on #364
ah - sorry i missed that.

[2017-09-14 12:33] djtfmartin commented on #360
the original issue is fixed. can you raise a separate one for the encoding? its not related.

[2017-09-14 12:33] #360 closed

[2017-09-14 12:37] djtfmartin commented on #217
This isnt actually a bug (or maybe its not fixed). The returned XML looks valid and has a layer for Najas flexilis as expected.

[2017-09-14 12:37] #217 closed

[2017-09-15 07:54] sophiathirza opened #365 "Incorrect encoding for foreign characters"
Issue reported on the occurrence page (first reported in #360):

https://records.nbnatlas.org/occurrences/e8a7db9d-b571-4a28-9246-5f32dfb6c4ea#

it is using the wrong character set or encoding because foreign characters are not displaying properly, see 'Name according to' in the above example page.

[2017-09-15 07:57] sophiathirza commented on #285
We have another copy of the data, which is ready to upload.

[2017-09-15 08:15] sophiathirza commented on #267
I have written to the user.

[2017-09-15 08:33] sophiathirza commented on #229
@EllaVogel can you help me with this issue, please? The sensitive record was already supplied at a low resolution but then it looks like an additional uncertainty has been added. Is that correct?

[2017-09-15 09:31] sophiathirza opened #366 "Datasets - identified but not approached includes datasets with data"
From a forum post: https://forums.nbn.org.uk/viewtopic.php?id=6985

On the dataset search there are many datasets under the identified but not approached link. It includes species lists but also active datasets. Checking one of the datasets, under data mobilisation there is a field for status, which is set to identified. Is this where the information is coming from?

I assume that none of the spec

[2017-09-15 09:41] djtfmartin commented on #366
its just a field in the database that NBN can use to indicate the status of a resource. these need to be set appropriately. there isnt any downstream affect other than visiblility in the search.

[2017-09-15 09:48] sophiathirza commented on #366
okay, thanks. I will change all the species lists and datasets (with data) to have the status: dataAvailable.

[2017-09-15 09:53] sophiathirza commented on #366
is there anyway to do it in the db.. there are 719 of them.

[2017-09-15 13:30] CEJohnston opened #367 "Creating a species richness map in spatial portal - failed with warning"
Using Point to Grid tool with list of species (Lichens - Vulnerable, Endangered and CriticallyEendangered) to produce a species richness map at 0.1 cell size but it fails with a warning message [ID: 1505481410134}:

![image](https://user-images.githubusercontent.com/18594564/30484274-d3dfa78c-9a21-11e7-8a89-2a6526d1d819.png)

[2017-09-15 14:17] CEJohnston opened #368 "Missing 'Advanced record search' option in NBN Atlas Scotland"
Add 'Advanced record search' option to the 'Data and Partners' drop down on the Scottish home page

[2017-09-15 14:43] sophiathirza opened #369 "Delete images of a dangerous mushroom"
When searching for Boletus edulis (an edible mushroom): https://images.nbnatlas.org/?q=Boletus%20edulis, the images include three poisonous mushrooms, ids: 5129097, 5129052 and 5129007.

Could the images be deleted as soon as possible, please? @djtfmartin if you can tell me how to remove them, I will do it.

The problem is that the images are not labelled, so you don't know what you are looking at

[2017-09-15 14:48] CEJohnston opened #370 "Number of Species Lists available is confusing"
Via the species search link (accessed via HELP > Lists you access about 133 species lists.

If you use the 'Search NBN  Atlas datasets' drop down you can access 238 Species-lists.  This seems confusing but it looks like this 238 includes 105 lists that are 'Identified' - which means they are not currently available in the Atlas.  Some of the 105 are duplicated names (eg UKBMS species) or nonsense

[2017-09-15 14:56] CEJohnston opened #371 "Accessing records via 'Select a habitat to explore' generates an error"
In the NBN Atlas Scotland under 'HABITATS > Select a habitat to explore' chose Coniferous woodland and its sub-categories and tried to 'View records' via the button at top right.  Generates a Grails Runtime Exception.

![image](https://user-images.githubusercontent.com/18594564/30489114-429a54ea-9a2e-11e7-9d7e-ad0d6e2a1415.png)

[2017-09-15 15:00] sophiathirza commented on #370
duplicate: #366

[2017-09-15 15:01] sophiathirza commented on #370
It's a problem with the classification of the data, it's not a bug.

[2017-09-15 15:02] sophiathirza commented on #370
Also, there are test datasets, with strange names, that have been created in error that need to be deleted.

[2017-09-18 09:08] sophiathirza commented on #267
The user is completely unable to log in. I can log in with his user name and password. Unfortunately, he does not want to continue trying.

[2017-09-18 09:08] #267 closed

[2017-09-18 11:11] sophiathirza commented on #331
I think the problem here is actually the low precision of the Tench data. Over 2000 records were supplied on the 10 km grid. The majority of the data has a six digit grid reference, so they may have the same problem.

[2017-09-18 15:05] SarahHyslop commented on #177
@sophiathirza I think this is now sorted, nobody esle has mentioned this since as far as I am aware.  I have tried on my PC and cant see any visibility issues with Chrome.  I cant seem to get IE to work on my PC, have you got this browser? Is the B in Biodiversity okay (see photo above)

[2017-09-19 09:28] sophiathirza commented on #355
The maximum resolution of records transferred to the NBN Atlas was 100m (6 fig grid references). The JNCC have confirmed that any datasets with a public resolution greater than 100m will have to be resubmitted to the NBN directly from the data provider.

[2017-09-19 09:45] sophiathirza commented on #331
I will close this as the problem is the low resolution of the data and we have identified that the maximum resolution of data transferred from the Gateway was 100 m.

[2017-09-19 09:45] #331 closed

[2017-09-19 10:02] sophiathirza commented on #177
I checked on Microsoft Edge and it looks okay. I don't have IE. I will close and we can reopen if needs be.

[2017-09-19 10:02] #177 closed

[2017-09-19 10:35] sophiathirza commented on #359
StatusCake is the only one that has a free service (that I can see, although I thought that new relic also had one).

Status Cake free service:
Slower interval rate, randomly allocated test locations, and no advanced monitoring features

I assume that the interval rate is more than 1 min, which would be okay. What I haven't found yet is how many urls we can include.

[2017-09-20 08:37] sophiathirza commented on #359
With community subscription (free service) of StatusCake we can have up to 20 urls to test. I suggest that we try them.

@djtfmartin would you let me know which urls (web services) to include and I will set up the alerts. The layers web service would be useful to have.

I'll set up the alerts to go to my email address and the support email.

[2017-09-21 08:01] sophiathirza opened #372 "species.nbnatlas.org is unavailable"
it returns a 503 error

[2017-09-21 08:15] sophiathirza opened #373 "Add help text to the search on the Atlas home page"
Text indicating what searches are possible is needed: it is possible to search by species, grid reference.. etc.

[2017-09-21 08:17] sophiathirza commented on #355
I will close this now as the BRC are aware that they need to resend the data to us.

[2017-09-21 08:17] #355 closed

[2017-09-21 08:29] GiselleSterry opened #374 "Create new error message for duplicate registrations"
If people try and register again for the NBN Atlas they receive a Error 500 message. Can a message be created stating that they may have already registered and to try entering their email and password.

[2017-09-21 08:32] #372 closed

[2017-09-21 10:10] sophiathirza opened #375 "Simple search and batch taxon search"
What is the difference between these two searches?

A search for 'Abies alba' returns 562 results in the simple search and 88 in the batch taxon search. The batch taxon searches on raw_name. Is it possible for the batch taxon search to do the same search as the simple search (but for multiple taxon)?

[2017-09-21 16:11] sophiathirza commented on #359
to include:

regions.nbnatlas.org
species.nbnatlas.org
species-ws.nbnatlas.org
spatial.nbnatlas.org
records.nbnatlas.org
records-ws.nbnatlas.org
alerts.nbnatlas.org

and Scottish and Wales equivalents.

[2017-09-21 18:24] sophiathirza opened #376 "Web service is returning an error"
https://records-ws.nbnatlas.org/occurrences/search?q=Abies+alba:

{"pageSize":10,"startIndex":0,"totalRecords":0,"dir":"asc","status":"ERROR","errorMessage":"Could not load collection from ZK: biocache"}

[2017-09-21 18:26] sophiathirza commented on #376
And a user has reported a timeout exception when doing a species search, although it worked okay for me.

[2017-09-21 19:04] djtfmartin commented on #376
its back up.

[2017-09-21 19:04] #376 closed

[2017-09-22 11:37] sophiathirza commented on #359
I have set up alerts with the following urls (testing every 15 mins):
https://species.nbnatlas.org/species/NHMSYS0000544773
https://regions.nbnatlas.org/#rt=National+parks
https://species-ws.nbnatlas.org/search?q=Abies+alba
https://records-ws.nbnatlas.org/occurrences/search?q=Abies+alba
https://spatial.nbnatlas.org
https://records.nbnatlas.org/occurrences/search?q=Bellis+perennis

If this is all o

[2017-09-22 12:44] sophiathirza commented on #172
Blackbird and Common Blackbird have been added to the UKSI as common names, so this should be corrected when we update the species inventory.

[2017-09-22 15:42] sophiathirza commented on #330
Lichen taxonomy in the UKSI is being updated at the moment, hopeful these problems will be corrected in the new version, which we should receive after the update.

[2017-09-25 08:13] sophiathirza opened #377 "Sorting records after a spatial search returns all records in the db"
Message from the forum (https://forums.nbn.org.uk/viewtopic.php?pid=27546#p27546):
I have been using the spatial search with a polygon to check on the number of records for an area.
This will retrieve records for me, but as soon as I try to sort the records the spatial filter is removed and I get a list of all the records on the database!

[2017-09-25 08:13] sophiathirza commented on #377
I was able to recreate this.

[2017-09-25 08:20] sophiathirza opened #378 "Record dates become scrambled after using Watsonian Vice-county filter"
This is a second issue from forum post: (https://forums.nbn.org.uk/viewtopic.php?pid=27546#p27546).

I then tried putting the Watsonian Vice-county filter for the Outer Hebrides on, and the record dates became scrambled starting at 01-01-1670 and ending with 01-01-9999.

[2017-09-25 08:21] sophiathirza commented on #378
I can't recreate this. @EllaVogel and @CEJohnston could you try and recreate it, please?

[2017-09-25 08:57] sophiathirza commented on #325
Notes:
Japanese knotweed is the preferred name
Janapese Knotweed is a recommended name - but is has been crossed out in the UKSI search. We need to check the next version of the UKSI to see if it is included.

[2017-09-25 09:49] sophiathirza commented on #283
In the current DwC-A. Quagga mussel points to the sub species (Dreissena rostriformis bugensis) via the acceptedNameUsageID field. Dreissena bugensis (tsk: NHMSYS0020475523) still does not exist in the DwC-A.

[2017-09-25 10:04] sophiathirza commented on #259
Notes:
Banded Demoiselle is the preferred form
Banded Agrion is well formed

We need to select the preferred form to display but also consider what to display when the dataset already contains a common name.

[2017-09-25 10:09] sophiathirza commented on #201
This looks like it has been corrected. @GiselleSterry do you have the original email so that I can contact the person, thanks?

[2017-09-25 10:25] sophiathirza commented on #326
Notes:
The current DwC-A has a single entry in the taxon file for both of these as synonyms. In the UKSI they are both accepted names. The tvk from the UKSI is in the acceptedNameUsageId field of the taxon file.

[2017-09-25 10:37] SarahHyslop commented on #259
Thanks for looking at this one.  Is there plaything I need to do here?

[2017-09-25 10:52] sophiathirza commented on #259
No, thanks. It was a note for when we get the latest UKSI to work out how to choose which common name to show.

[2017-09-25 10:55] SarahHyslop commented on #259
Okay, great thanks!

[2017-09-25 14:18] sophiathirza opened #379 "https://spatial.nbnatlas.org is unavailable"

[2017-09-25 15:41] EllaVogel commented on #379
This is working for me but it took a very long time to load. I got onto the spatial portal eventually

[2017-09-26 07:43] sophiathirza opened #380 "https://records.nbnatlas.org is unavailable"

[2017-09-26 10:33] GiselleSterry opened #381 "Daffodil Overview relates to North America"
https://species.nbnatlas.org/species/NBNSYS0000014596#overview

Information relates to distribution in Canada and America. Can UK info be included instead?

[2017-09-27 08:06] sophiathirza commented on #326
This is consistent with the UKSI online search: Cylindrocystis gracilis I.Hirn, 1953 has the synonym Cylindrocystis gracilis (which is flagged as being ill-formed). The Atlas search looks correct but I will leave this open until after we have updated the species inventory.

[2017-09-27 08:27] sophiathirza commented on #319
In the latest DwC-A based on the UKSI, Lapwing is the preferred common name. We should display the preferred common name on records pages.

[2017-09-27 08:28] sophiathirza commented on #319
This is the same problem: #259

[2017-09-27 08:32] GiselleSterry commented on #379
I can access and download records via Analyse but cant view the records when I click on a grid square.

[2017-09-27 08:32] sophiathirza commented on #353
Request from Jo to have the NBN Exchange format equivalent term added to the darwin core downloads.

[2017-09-27 08:33] sophiathirza commented on #379
I will close this issue as the spatial domain is back up but records is still unavailable.

[2017-09-27 08:34] #379 closed

[2017-09-27 14:10] CEJohnston opened #382 "Please replace the following spatial layers"
Three layers to be replaced as they are now out of date:
uk_lercs_february_2017:  replace with uk_lercs_nbn_atlas_july_2017
NRW_SACPolygon: replace with NRW_SACPolygon2
NRW_Sites_of_special_scientific_interest_(SSSI): replace with Sites_of_special_scientific_interest

The new shapefiles are on S3.
The variables and metadata are listed in new documents on the shared drive - will email the links sep

[2017-09-28 10:20] sophiathirza opened #383 "Habitat map of Scotland (habmos) spatial layer - what to do"
The combined habmos shapefile does not load in the Atlas, possibly due to data error, but the constituent layers are only available via web services.

The option suggested by Dave is to separate the shapefile into a different layer for each habitat type. There are 115 habitat types and I could produce a shapefile for each in R.

There is an habitat type called ERROR - ANNEXI CODE NOT MAPPED TO EUN

[2017-09-28 16:15] CEJohnston commented on #378
I have managed to replicate.
I created a random polygon round the Outer Hebrides (in Search by Polygon) then switched on the Vice County layer as a filter and filtered by the VC. I got 913441 records and have dates from 1629 and later in the 17th century, as well as 9999.  The 01-01-1629 records are in the BLS Mapping Scheme dataset; the 01-01-9999 records are in the Standing Waters Database - Sco

[2017-09-29 07:52] sophiathirza commented on #383
The four errors in the habitat types have been corrected in the latest version of the map but the updated shapefile has not been uploaded to Natural Spaces yet. We should probably wait for the new version if it's not too long.

[2017-09-29 08:37] sophiathirza commented on #378
Thanks for investigating.

Standing Waters - Scotland: 01-01-9999 (I think) indicates where the date was not supplied, 9999 was given as the date. These should not be shown in the phenology charts. Sometimes the occurrence record says 'date not supplied' and other times just gives the date and gives the date precision as Day.

BLS Mapping Scheme: the metadata says that they only distinguish record

[2017-09-29 09:05] sophiathirza opened #384 "Add date not supplied to date precision"
Would it be possible to add 'date not supplied' to date precision?

[2017-09-29 09:06] sophiathirza commented on #378
Raised issue to have date not supplied precision: #384

[2017-09-29 09:06] #378 closed

[2017-10-02 08:36] sophiathirza commented on #377
Additional forum message:
I tried the search again using a location polygon for the Outer Hebrides and chose to look only at the British Lichen Society Data. This produced a list of 10,000+ records. If I sort the list according to record date, instead of 10,000+ records I get 500,000+ records i.e. the whole of the BLS dataset.
As my polygon covered the Outer Hebrides I can apply the vice-county fi

[2017-10-03 14:05] MandyHenshall commented on #313
This has been raised again today by the same user:
I contacted you several months ago about the content in this page being in French and although there has obviously been something done to the page the text is still in French.
Is there any chance that this can be rectified in the near future so that I can actually make a link to it.

Can we make the necessary changes? Thanks.

[2017-10-04 15:34] GiselleSterry opened #385 "Header and Footer on Analyse part of NBN Atlas"
Agreement by secretariat team that the analyse section of the website should include the 'grey' navigation bar which includes Help, Data and Partners etc.
If possible we would also like the footers to also appear on the page. (The area showing the funders logos)
Redpaint have advised that this would be possible without compromising size of the map.

[2017-10-06 09:48] sophiathirza opened #386 "Problems with overlap of OSNI and OSGB grid references"
There is an extraneous square over the N Channel.  Clicking on it does not give any info on records.  Is it the Irish Grid?  If so, why can we not get any further, as we would by clicking on an OSG square?

https://records.nbnatlas.org/occurrences/search?q=lsid:NBNSYS0000030348&fq=#tab_mapView

[2017-10-06 10:56] sophiathirza opened #387 "Disable the image gallery"
It was agreed in the team meeting to disable the image gallery on images.nbnatlas.org until the search can be improved. The search returns many images, most of which seem unrelated to the search query. An exact match search requires the search term in quotes.

The gallery should be replaced with a message saying that the image gallery is unavailable whilst being redeveloped.

[2017-10-06 10:57] sophiathirza commented on #369
#387

[2017-10-09 09:34] sophiathirza opened #388 "Content on species pages is not always relevant"
The content we pull in from EoL is not always UK centred  (#381)  and sometimes is not in english (#313). There are also problems with incorrect images being pulled in from EoL (#349 ).

The options are:
* find another data source other than EoL
* create a black list mechanism for EoL pages that are problematic
* correct, or create appropriate, EoL pages

[2017-10-09 09:39] sophiathirza commented on #388
I have not found an alternative data source. Creating a list of problematic pages whose content are not displayed is the quickest solution.

We should be reporting incorrect images and content to EoL.

[2017-10-09 09:55] MandyHenshall commented on #387
I've removed the quick links to the gallery on the home pages of all three Atlases.
We can put a note on the message board on the Help pages about it being disabled, but I'm not sure where a message would go elsewhere?

[2017-10-09 13:12] djtfmartin commented on #386
It is the Irish grid. If you zoom in, it shows its D04. There seems to be an issue with clicking this grid reference though, but its selectable when you switch to points.

<img width="1078" alt="screenshot 2017-10-09 09 10 59" src="https://user-images.githubusercontent.com/444897/31339782-fef27e1e-acd1-11e7-86a2-266ad8f92d59.png">
<img width="1110" alt="screenshot 2017-10-09 09 12 04" src="https:/

[2017-10-10 09:25] sophiathirza commented on #252
I had another email about this today. The species list and map on the 'Explore your area' should not include absence records.

[2017-10-10 09:41] djtfmartin commented on #252
What is the species list in this context ?

[2017-10-10 10:28] sophiathirza commented on #252
The two lists on the page: far left, the species count in the different taxon groups, and middle of the page, the list of scientific names.

[2017-10-10 12:51] MandyHenshall opened #389 "Abundance fields not downloading"
Email received today:
I have recently downloaded a couple of datasets, and it seems as if the abundance fields aren’t downloading. It has an occurrence field for presence and absence but there doesn’t seem to be an abundance field. Is that under the assumption that each row is one occurrence? This isn’t the case for *this organisation* where one row could have multiple occurrences. I am downloadin

[2017-10-11 13:44] GiselleSterry opened #390 "Link to definitions of the different protections eg Wildlife Schedule"
On the NBN Gateway definitions and explanations of the different designation lists were provided. Can these be added to the NBN Atlas?
@MandyHenshall will be able to provide some screen shot examples.

[2017-10-11 13:54] MandyHenshall commented on #390
This is how they used to appear.
![designations list more detail](https://user-images.githubusercontent.com/27201815/31444398-132a4b3c-ae94-11e7-98ce-099fcc7eeba9.jpg)
![designations list](https://user-images.githubusercontent.com/27201815/31444399-1343817e-ae94-11e7-8dd6-2b19814f8b5c.jpg)

[2017-10-11 14:03] GiselleSterry commented on #390
http://jncc.defra.gov.uk/page-3424
http://jncc.defra.gov.uk/page-3414
http://jncc.defra.gov.uk/page-3415
 lists the definitions.

[2017-10-11 15:35] djtfmartin commented on #390
The descriptions are with the lists that where loaded by Rachel

<img width="1440" alt="screenshot 2017-10-11 16 34 51" src="https://user-images.githubusercontent.com/444897/31450772-332a7fb6-aea2-11e7-86f8-6acae9aaf3c4.png">

[2017-10-11 15:42] GiselleSterry commented on #390
thanks @djtfmartin - apologies that didnt know they were there.

[2017-10-11 16:15] djtfmartin commented on #390
no worries

[2017-10-12 08:08] #390 closed

[2017-10-15 08:18] sophiathirza commented on #380
https://records.nbnatlas.org is down

[2017-10-16 10:29] sophiathirza commented on #389
linked to #111

[2017-10-16 10:55] sophiathirza commented on #385
Is it possible to have exactly the same header as on the other pages? Log in/log out link is missing from the spatial portal. It needs to be clear to people using the spatial portal whether they are logged in or not.

[2017-10-17 13:38] sophiathirza opened #391 "ALA text in Information witheld section"
See: https://records.nbnatlas.org/occurrences/5fd497f7-57d3-415e-81af-146bbe69495b

[2017-10-17 13:40] sophiathirza commented on #391
Also, what does 'Before Year' mean in date precision (in the attached occurrence record)?

[2017-10-17 16:43] MNSmith commented on #388
Why not speak to the various National Schemes and Societies?  Many of these have websites with species accounts that could be linked to - I thought this was the idea for the start.  You will not find a single data source that will allow you to pull everything from one site, but you will find a lot of the resources you need are already present.  Abandon all use of EoL.

[2017-10-18 11:05] sophiathirza commented on #388
Thank you for your comment. I agree that we should investigate this further. I suspect that staying with EoL may give us more work than looking for, and implementing, alternative data sources.

[2017-10-18 13:36] sophiathirza commented on #283
I re-ran the script after swapping the column indexes for 'establishmentMeans' and 'redundant' in the Organism_Master reader. I had previously changed the column index for 'dateDeleted' from 18 to 19.

Dreissena bugensis (tvk: NHMSYS0020475523) is now in the taxa.csv file and Quagga mussel points correctly to this tvk.

When we get the latest version of the UKSI, we must check the column numbers b

[2017-10-19 11:25] sophiathirza commented on #229
@EllaVogel this is the issue I mentioned at the meeting - where an additional uncertainty has been added to a sensitive species record which was already at a low resolution

[2017-10-19 11:35] sophiathirza opened #392 "Do not display a full date when the precision is only M or Y"
Where the precision is month or year, do not show the full date on the occurrence page (i.e. 01-01-1989)

[2017-10-19 11:41] sophiathirza commented on #366
@djtfmartin can I change these in the database directly?

[2017-10-19 12:18] djtfmartin commented on #366
yes. ill talk you through it

[2017-10-19 12:19] djtfmartin commented on #392
Can you supply some examples ?

[2017-10-19 13:37] sophiathirza commented on #283
A new field 'freshwater' was added to the organism master table - which caused the problem.

[2017-10-19 16:50] sophiathirza commented on #380
https://records.nbnatlas.org is down, also https://records-ws.nbnatlas.org and https://species-ws.nbnatlas.org

[2017-10-19 17:59] djtfmartin commented on #380
Hmmm - all seem up to me.

[2017-10-19 18:12] sophiathirza commented on #380
yes, they came up about 15 minutes later. I thought that you must have done something.

[2017-10-19 19:00] djtfmartin commented on #380
I didnt do anything.

[2017-10-19 19:00] #380 closed

[2017-10-20 08:52] sophiathirza commented on #392
I will add them as I find them.

This is not exactly the same problem. Here the date precision is Day but it says date not supplied when it does have a date: https://records.nbnatlas.org/occurrences/2cc7acaf-a6ab-4669-96d2-2900c7869e12

[2017-10-20 08:56] djtfmartin commented on #392
id raise that as a separate issue

[2017-10-20 08:58] sophiathirza opened #393 "Occurrence record incorrectly flagged with no date supplied"
The date precision is Day but it says date that no date was supplied when it does have a date: https://records.nbnatlas.org/occurrences/2cc7acaf-a6ab-4669-96d2-2900c7869e12

[2017-10-20 10:55] sophiathirza commented on #325
Janapese Knotweed is still a recommended name in the latest version of the UKSI.

@djtfmartin what is the best way of selecting the preferred common name. Should I add a field to the taxa table for it?

[2017-10-20 11:18] djtfmartin commented on #325
for the namematching, we dont have a mechanism. quickest thing might be to just blacklist it in the script thats producing the DwCA

[2017-10-20 12:42] sophiathirza commented on #388
In the short term, can we have a message added above the EoL information that makes it clear that it comes from EoL, please? I had another email today about it.

[2017-10-20 13:04] sophiathirza opened #394 "Species search - indicate synonym matches"
Where a species name is returned because of a match on a synonym, could it be made obvious in the search results that the match is on a synonym?

An example is here: https://species.nbnatlas.org/search?fq=idxtype%3ATAXON&q=Tachina+magnicornis

The first result is the accepted name Tachina magnicornis (Zetterstedt, 1844). The second result was matched because of the associated synonym Tachina magni

[2017-10-23 10:27] GiselleSterry opened #395 "Log in page not working at 11.26 on 23/10/17"
Error message:

This auth.nbnatlas.org page can’t be found

No webpage was found for the web address: https://auth.nbnatlas.org/cas/login?service=https://nbnatlas.org/
HTTP ERROR 404

[2017-10-23 14:27] djtfmartin commented on #395
this is fixed

[2017-10-23 14:27] #395 closed

[2017-10-23 15:09] GiselleSterry commented on #395
thanks!

[2017-10-24 11:11] djtfmartin commented on #392
I think this is fixed, and assume it was raised based on an old forum message.

Test cases written for this in May this year.

[2017-10-24 11:11] #392 closed

[2017-10-25 16:16] sophiathirza opened #396 "Add date of upload to the overview page of each data resource"
It needs to be clear when records were last uploaded to a data resource.

[2017-10-25 16:58] sophiathirza opened #397 "Save a sesson on the spatial portal"
Comment: There doesn't seem to be an option to save a session. This is a big problem because some analysis tasks take a long time to pull together with multiple layers and species lists. This is a critical requirement for professional use. I'm sure I noticed a while back in the ALA help that there was a function to save session. However, the help link from the Analyze page doesn't work now - the l

[2017-10-26 08:43] djtfmartin commented on #396
Record page under the map:

<img width="1437" alt="screenshot 2017-10-26 09 41 36" src="https://user-images.githubusercontent.com/444897/32043196-ebb0efb2-ba31-11e7-8ca9-4a7d8079e329.png">

[2017-10-26 08:48] sophiathirza commented on #396
thanks! I had not seen that before. What does date last processed mean?

Is it possible to have the most recent date that a record within a dataset has been uploaded/processed on the dataset page?

[2017-10-26 08:51] djtfmartin commented on #396
processed -  this is when we interpret the raw data, matching the taxonomy to UKSI etc.

on the dataset page.
<img width="1012" alt="screenshot 2017-10-26 09 50 16" src="https://user-images.githubusercontent.com/444897/32043602-1f308f68-ba33-11e7-8512-1da7efeb435f.png">

[2017-10-26 08:57] sophiathirza commented on #396
The text: 'This resource was last checked..' is not on every dataset.

Could it be moved up the page? Perhaps put at the top of the right-hand panel?

[2017-10-26 11:15] sophiathirza opened #398 "In correct precision dates being applied to vague dates"
There is a forum message that suggests that some records have incorrect dates after being transferred from the Gateway: https://forums.nbn.org.uk/viewtopic.php?id=6962. If only the month or year is supplied then the Atlas sets the date as the first of the month or first of January. This then incorrectly reports occurrences in January.

@djtfmartin could this be happening?

[2017-10-26 11:16] sophiathirza commented on #398
Example: https://records.nbnatlas.org/occurrences/fa79d823-9405-46c8-ae9a-2bd607c84587

[2017-10-26 11:16] sophiathirza commented on #190
can this be closed as we do support date ranges?

[2017-10-26 11:23] sophiathirza commented on #398
The year range precision is correct here: https://records.nbnatlas.org/occurrences/c96b95d5-949b-4cf8-91fa-19062c65b560 but could the start and end dates just be the year and not a full date?

and

https://records.nbnatlas.org/occurrences/3ef1e1ef-d373-4d4f-889e-4164efa5862f

[2017-10-26 11:31] sophiathirza commented on #364
I wonder about doing this because once we have verification at the record level one of the suggestions was to have verified and unverified records displayed in separate colours.

Perhaps we should wait on this on until we have the requirements for verification at the record level?

[2017-10-26 12:19] sophiathirza commented on #393
Here's another one: https://records.nbnatlas.org/occurrences/22626364-335a-4191-907c-492e34b538eb

[2017-10-26 12:22] sophiathirza commented on #398
Also, in the header of the occurrence record page, next to the name the record date should just say the year: https://records.nbnatlas.org/occurrences/f215b899-0e71-43b4-8eea-e9a094b5ef62

[2017-10-26 20:54] djtfmartin commented on #281
this is fixed. The raw recordedBy value is now displayed

[2017-10-26 20:54] #281 closed

[2017-10-27 08:18] sophiathirza opened #399 "Charts indicate January records when the date precision is correctly Year"
An example is here: https://records.nbnatlas.org/occurrences/search?taxa=&q=lsid%3ANHMSYS0000544773&fq=assertions%3A%22firstOfYear%22&wkt=&lat=&lon=&radius=&offset=40&max=20#tab_chartsView

These are records that are correctly flagged as Year precision but they appear in the charts as January records.

They also appear as January records in the filter records panel on the left.

[2017-10-27 10:06] sophiathirza commented on #399
Just received an email. Adding this to check when fixed:

Nighjar:

https://species.nbnatlas.org/species/NHMSYS0000530242#records [1]

Even Common Swift has a big peak in January - perhaps they do hibernate
in ponds after all!!

https://species.nbnatlas.org/species/NHMSYS0000530165#records [2]

Though less so in the Swallow:

https://species.nbnatlas.org/species/NHMSYS0000530406#records [3]

[2017-10-27 10:16] SarahHyslop opened #400 "Issues reported by user"
A.      Incorrect Association shown:

https://species.nbnatlas.org/species/NBNSYS0000031029
The page is for Scambus annulatus (Kiss, 1924) so why does it show
Associations

Animal / parasitoid
Scambus inanis is parasitoid of larva of Zeugophora subspinosa

I don’t think inanis and annulatus are synonyms.

B.      When I search for “Scambus” the exact match is near the foot of the second page. (In

[2017-10-27 10:54] sophiathirza commented on #400
There are three issues here:

A. information coming from EoL
B. problem with the species search
C. the site is running slowing at the moment

I will make another issue of the second point and Dave is investigating the third at the moment.

[2017-10-27 10:55] sophiathirza commented on #388
#400

[2017-10-27 10:58] sophiathirza opened #401 "Order of species search results"
Comment from user:

When I search for “Scambus” the exact match is near the foot of the second page. (In fact I’ve already confirmed that I’m searching “Scambus – genus” in the autocorrect pop-up)

[2017-10-27 10:59] sophiathirza commented on #401
Exact matches should be at the top of the list (from #400). Should the species search be changed to only do an exact match?

[2017-10-27 13:49] sophiathirza commented on #400
The speed of the site is much better now. I will close this issue as the first two points are in other issues.

[2017-10-27 13:49] #400 closed

[2017-10-30 10:09] sophiathirza commented on #401
A user searched for Aphodius equestris, which is a synonym of Aphodius (Volinus) sticticus. Currently the synonym match is on page 3, it should be the first in the list as an exact match.

This issue is also linked to #394 where synonym matches should be more clearly identified.

[2017-10-31 09:24] sophiathirza commented on #285
Dates look perfect on now - brilliant!

Except that the csv file contains 92,465 records and there are 95,046 online, is this because there are records that should be deleted?

[2017-10-31 11:21] djtfmartin opened #402 "SOLR cores lost on restart from nodes"
core.properties should look like this:

[code]

but looks like this

[code]

which leads to an error on startup

[2017-10-31 11:34] sophiathirza commented on #325
Include water rat as well. The preferred common name for Arvicola amphibius is water vole.

[2017-10-31 13:14] djtfmartin commented on #285
now showing 92,465

[2017-10-31 17:27] sophiathirza commented on #285
All the species names are unknown. It was correct before the records were removed.

[2017-10-31 17:41] djtfmartin commented on #285
Looks like the data reverted to the problem with headers we've seen before

[code]

[2017-10-31 17:42] sophiathirza commented on #285
that's really strange as I checked it. I'll reupload. I guess I uploaded the wrong file.

[2017-10-31 17:55] sophiathirza commented on #285
The data owners had another query about a TVK. Once they let me know the update I will reupload the file.

[2017-11-01 10:10] djtfmartin commented on #398
This now fixed. Please see

https://records.nbnatlas.org/occurrences/3ef1e1ef-d373-4d4f-889e-4164efa5862f
https://records.nbnatlas.org/occurrences/fa79d823-9405-46c8-ae9a-2bd607c84587

Theres a minor issue with day range (which doesnt affect the phenology charts).

https://records.nbnatlas.org/occurrences/062dcb17-e97e-4130-bd0e-42dd2dfcc0d5

I'll raise a separate issue for this.

[2017-11-01 10:10] #398 closed

[2017-11-01 11:32] sophiathirza commented on #285
I have reuploaded an updated csv with the updated TVKs and correct headers. @djtfmartin would you reprocess the upload please? thanks. https://registry.nbnatlas.org/dataResource/show/dr1473

[2017-11-02 10:57] sophiathirza opened #403 "Delete records from dr1179"
Adding this here so that it is not forgotten:

Would you delete records from this dataset? https://registry.nbnatlas.org/public/show/dr1179

The issue is with all records in the dataset except those in the Coccinellidae. So either delete all records or all those not in the Coccinellidae family. Whichever is easiest.

[2017-11-02 13:32] djtfmartin commented on #403
done

[2017-11-02 13:32] #403 closed

[2017-11-02 13:32] djtfmartin commented on #399
these issues should now be fixed. please verify

[2017-11-02 13:36] djtfmartin commented on #190
closed. we support date ranges

[2017-11-02 13:36] #190 closed

[2017-11-02 13:37] djtfmartin commented on #393
This is fixed. The second record has been removed.

The first record was for a sensitive species, so the message was only happening for sensitive records and it was due to date information being removed by the sensitive data processing

[2017-11-02 13:37] #393 closed

[2017-11-02 13:38] djtfmartin commented on #384
related to this

https://github.com/nbnuk/nbnatlas-issues/issues/275

We now generate a date precision where we dont have one supplied

[2017-11-02 13:38] #384 closed

[2017-11-02 13:40] djtfmartin commented on #275
We now generate a date precision where we dont have one supplied

<img width="632" alt="screenshot 2017-11-02 13 39 37" src="https://user-images.githubusercontent.com/444897/32328907-515c3c62-bfd3-11e7-826d-8e250898c59f.png">

[2017-11-02 13:40] #275 closed

[2017-11-02 13:50] djtfmartin commented on #399
Theres problems with year ranges still

[2017-11-02 14:53] sophiathirza commented on #403
Thanks. There are still records showing, so were you able to leave the Coccinellidae records in place?

[2017-11-02 14:56] sophiathirza commented on #403
Sorry. Just checked and they do seem to be only in the family Coccinellidae

[2017-11-02 16:06] djtfmartin opened #404 "common names in scientific name field"
https://registry.nbnatlas.org/public/show/dr896

This dataset has been supplied with common names in the scientific name field - hence the lack of name matching.

[2017-11-02 16:07] djtfmartin opened #405 "Datasets not attributed correctly"
There are a number of datasets not correct attributed to data providers

eg https://registry.nbnatlas.org/public/show/dr1528

I suggest we review.

[2017-11-03 09:39] sophiathirza commented on #285
The scientific names now match for the majority of records. There are 4215 that have not matched. I will close this now. The main issues have been resolved.

[2017-11-03 09:39] #285 closed

[2017-11-03 10:05] sophiathirza opened #406 "Datasets for processing"
dr681
dr1616
dr1624
dr1619
dr1620
dr1618
dr1628
dr227 (linked to #404)

Delete original records first:
dr537

[2017-11-03 10:26] sophiathirza commented on #406
and also this image data resource: dr1483

[2017-11-03 11:42] sophiathirza commented on #405
There are a lot of them! Mostly from The Wildlife Information Centre and Wales Gov. I have started updating but not sure whether Wales Gov is Natural Resource Wales.

Just for notes.
EoL: https://registry.nbnatlas.org/public/show/dr0
Wales Gov: https://registry.nbnatlas.org/dataResource/show/dr1512
Wales Gov: https://registry.nbnatlas.org/dataResource/show/dr1513
Wales Gov: https://registry.nbnatl

[2017-11-03 11:43] sophiathirza opened #407 "Delete dataset dr1519"
Please delete data resource dr1519, its replacement was uploaded as a new dataset several months ago in error.

[2017-11-03 11:44] sophiathirza opened #408 "Ordering of Watsonian vice-counties in charts of record counts"
Forum message:
This specifically refers to the chart of record counts, but may be applicable elsewhere: e.g. https://species.nbnatlas.org/species/NB … 48#records

Would it be beneficial to order the vice-counties by their number rather than name? The numbers for vice-counties were allocated  on a rough geographic basis - it's very crude but ordering by the number would show the "distribution" of t

[2017-11-03 11:45] sophiathirza commented on #408
Let's wait and see what replies this suggestion gets on the forum.

[2017-11-03 13:53] sophiathirza opened #409 "Download reasons"
Add ‘Statutory Work’ to list of reasons

[2017-11-06 08:56] sophiathirza commented on #404
The TVKs were for the common name as well.

I have uploaded the new text file. I saved the txt file with encoding as UTF8 and line endings as \r\n. In the upload form I put  \r\n in the Line Delimiter field.

[2017-11-06 12:07] sophiathirza opened #410 "Broken links on the Atlas"
Message from the forum that the link https://nbnatlas.org/explore/ is used in several places but the page does not exist.

I have not found where the links are yet.

[2017-11-06 13:17] sophiathirza commented on #404
I just realised that all the text fields are in double quotes in the uploaded file - is this okay?

[2017-11-06 14:45] djtfmartin commented on #410
this should be fixed in wordpress. perhaps something to discuss with redpaint

[2017-11-06 14:52] djtfmartin commented on #399
the issues with date ranges should now fixed

[2017-11-06 16:53] JoJudge opened #411 "Data Partner list misdirect"
If you try to go back to the list of data partners by clicking on 'list' at the top left of data partner page (see image) it takes you to the list of datasets not data partners

![image](https://user-images.githubusercontent.com/26632543/32452983-fdc7d348-c312-11e7-9960-29b94852df06.png)

[2017-11-07 10:14] sophiathirza opened #412 "Loss of records when ordering by record date"
Message from forum:

When I try to sort this search: https://records.nbnatlas.org/occurrences/search?q=text:Johnson,%20M.&fq=(collector:%22Johnson,%20M.%22%20OR%20collector:%22Johnson,%20M.;Johnson,%20S.%22%20OR%20collector:%22Johnson,%20M.S.%22%20OR%20collector:%22Johnson,%20M.S.;Neale,%20E.M.%22)&sort=occurrence_date&dir=desc by record date descending

no records are returned. The URL appears to

[2017-11-07 10:14] sophiathirza commented on #412
I was able to recreate this.

[2017-11-07 11:38] CEJohnston opened #413 "Tab in NBN Atlas Scotland still saying Atlas of Living Scotland"
On accessing the spatial portal at [https://scotland-spatial.nbnatlas.org/#](url) the top tab in the web browser window still says Analyse Data / Atlas of Living Scotland

[2017-11-07 11:39] djtfmartin commented on #413
This is editable in wordpress

[2017-11-07 11:40] sophiathirza commented on #406
Thank you for processing these.

Sorry Dave. I made another mistake. Can you delete dr1618 and reprocess?

dr681 - this now has too many records. It should have 147662 rather than 253,000+

[2017-11-07 11:47] djtfmartin commented on #409
done

<img width="1235" alt="screenshot 2017-11-07 11 47 28" src="https://user-images.githubusercontent.com/444897/32492225-7b610f06-c3b1-11e7-9b51-f2b2155a2020.png">

[2017-11-07 11:47] #409 closed

[2017-11-07 11:48] djtfmartin commented on #391
i think this is fixed

[2017-11-07 11:48] #391 closed

[2017-11-07 12:09] sophiathirza opened #414 "Wildcat website - help with web service calls for map layers"
Scottish Wildcat Action website (http://www.scottishwildcataction.org/how-you-can-help/#report) uses NBN webservices to map the distribution of 3 wildcat taxons in Scotland. This hasn't worked since the launch.

The developer sent me this snippet of code:
[wildcataction_NBN.txt](https://github.com/nbnuk/nbnatlas-issues/files/1449879/wildcataction_NBN.txt) and I sent this them this back to replace

[2017-11-07 12:11] sophiathirza commented on #414
I received this email from the developer:
I've plugged those into a test map to see if it works, but it doesn't seem to be returning anything. The test map a copy of the live one and you can see it at: http://wildcataction.natappdata.co.uk/wildcatmaptest.html

I can see it's making lots of requests of the NBN API like:

https://records-ws.nbnatlas.org/ogc/wms/reflect?service=WMS&request=GetMap&ver

[2017-11-07 12:21] sophiathirza commented on #387
@djtfmartin would it be possible to do this before the conference? Either hide the gallery or make the search only do an exact match?

[2017-11-07 13:41] sophiathirza commented on #368
@CEJohnston should the navigation take you to the UK site, as with other options in the dropdown?

[2017-11-07 15:00] GiselleSterry commented on #413
Emailed Redpaint - we are unable to access to edit the tab,

[2017-11-07 15:33] GiselleSterry commented on #413
reply from redpaint - @djtfmartin
"I think this is one for Dave, we aren’t providing anything to these pages. I spoke with Mandy (or you??) about the possibility of including the header and footer on these pages but this needs to go via Dave.

I know it’s a bit confusing about lines of responsibility but this page in particular is Dave’s domain."

[2017-11-07 15:42] djtfmartin commented on #413
Sorry - my bad, Andy is right

[2017-11-07 15:56] djtfmartin commented on #407
done

[2017-11-07 15:56] #407 closed

[2017-11-07 16:42] djtfmartin commented on #406
Done. except for  dr1483 which has this problem. Please check the archive

[code]

[2017-11-08 10:41] CEJohnston commented on #368
I think it should take you to the advanced search tab for the Scottish Atlas ie
https://scotland-records.nbnatlas.org/search#tab_spatialSearch

This tab is currently accessed via the 'Search by polygon' drop down under the Locations tab (although it would be more logical if the 'Search by polygon' link landed on https://scotland-records.nbnatlas.org/search#tab_spatialSearch in the first instance?)

[2017-11-08 10:57] sophiathirza commented on #414
They asked for the records to be displayed on 2km squares.

[2017-11-08 14:04] sophiathirza opened #415 "Remove Grey seal as a sensitive species in Wales"
Would you remove the grey seal from the list of sensitive species. The updated list is attached or simply remove the grey seal. Thanks.
[Appendix A- Species and Habitats Exempt From General Release.docx](https://github.com/nbnuk/nbnatlas-issues/files/1454126/Appendix.A-.Species.and.Habitats.Exempt.From.General.Release.docx)

[2017-11-08 14:26] sophiathirza commented on #415
Done.

[2017-11-08 14:26] #415 closed

[2017-11-09 10:39] sophiathirza opened #416 "Please delete datasets dr779 and dr1131"
The data provider has asked for these two datasets to be deleted, as the records are now included in two new datasets.

https://registry.nbnatlas.org/public/show/dr779
https://registry.nbnatlas.org/public/show/dr1131

[2017-11-09 10:48] sophiathirza opened #417 "Pipistrelle bat designations in Habitats Directive Annex 4"
There are two entries for Pipistrellus pipistrellus in the Habitats Directive Annex 4 species list on the Atlas and both point to the species aggregate NHMSYS0020001356, which means that the species (NHMSYS0020001355) is not being picked up in searches based on the list.

[2017-11-09 10:56] sophiathirza commented on #417
I think the problem is matching names by synonyms. Habitats Directive Annex 4 only lists the Common Pipistrelle (Pipistrellus pipistrellus (Schreber, 1774)), which is the species. I don't know whether that means that we should include the species aggregate at all.

Pipistrellus pipistrellus is a synonym of the species aggregate: https://species.nbnatlas.org/species/NHMSYS0020001356#names

Pipistre

[2017-11-09 11:59] sophiathirza opened #418 "Full Darwin Core download files are empty except for the header"
I had this problem a few weeks ago and I thought that perhaps I had just missed the records, as the first few columns might be empty. But we've just had an email from someone who tried it several times and had the same problem.

I just tried now to download all CCO records from the SEWBRec area to a full Darwin Core format and the file was empty (except for the header).

[2017-11-09 12:43] sophiathirza commented on #404
@djtfmartin would you let me know if the double quotes are a problem, please? I have quite a few data resources ready for upload.

[2017-11-09 12:48] djtfmartin commented on #404
not a problem, as long as the config is correct in the connection parameters for the data resource.

[2017-11-09 13:19] sophiathirza commented on #404
great, thanks.

[2017-11-09 15:00] sophiathirza commented on #406
Please re-process the following resources:

dr1483 (image resource)
dr1624
dr1374
dr1380
dr1183

[2017-11-09 15:51] sophiathirza commented on #406
please try dr1483 again.. feeling more confident now

[2017-11-09 15:52] sophiathirza commented on #368
This is done now. thanks @GiselleSterry

[2017-11-09 15:52] #368 closed

[2017-11-09 16:32] djtfmartin commented on #389
Abundance - called "Individual count", the darwin core term - is now in the downloads

[2017-11-09 16:32] #389 closed

[2017-11-10 09:10] sophiathirza commented on #417
I changed the supplied name for one of the entries to Pipistrellus pipistrellus 45kHz and the name matching has correctly found the species NHMSYS0020001355.

[2017-11-10 09:10] #417 closed

[2017-11-10 10:14] sophiathirza opened #419 "Check missing species names"
Procambarus marmorkrebs
Achatina fulica
Aedes albopictus
Echinocystis lobata
Pudu puda
Reticulitermes lucifugus

[2017-11-10 11:17] sophiathirza opened #420 "Data resources for processing"
dr1643
dr1644
dr1646
dr1143

match Record Key with Record Number:
dr837

delete original records:
dr727
dr1363

[2017-11-10 12:01] sophiathirza commented on #420
and image resource dr1647

[2017-11-10 12:09] sophiathirza commented on #419
All non-native species.

All but Aedes albopictus are missing from the latest UKSI version.

[2017-11-10 13:32] sophiathirza commented on #405
These are the data resources I can't match to a data provider:

BRAG - Berkshire Reptile and Amphibian Records | dr1404
Tir Cynnal and Tir Gofal Monitoring and Evaluation Programme: Arable plant survey | dr1530
Tir Cynnal and Tir Gofal Monitoring and Evaluation Programme: Brown Hairstreak survey | dr1531
Tir Cynnal and Tir Gofal Monitoring and Evaluation Programme: Brown Hare Farm-scale surveys |

[2017-11-10 13:38] djtfmartin commented on #405
probably need to create 3 data providers

[2017-11-10 14:42] sophiathirza opened #421 "Absence records and GBif"
We sent https://registry.nbnatlas.org/public/show/dr873 to Gbif. It includes absence record, which NRW have told me are displaying on GBif.

All 15 records for Urosalpinx cinerea are absence: https://records.nbnatlas.org/occurrences/search?q=data_resource_uid%3Adr873&fq=taxon_name%3A%22Urosalpinx%20cinerea%22

They display on the map in GBif and in the GBif download all 15 entries on GBif have the

[2017-11-11 09:09] djtfmartin commented on #416
done

[2017-11-11 09:09] #416 closed

[2017-11-11 09:13] djtfmartin commented on #420
why are we deleting dr727 & dr1363 ?

[2017-11-11 09:26] sophiathirza commented on #420
The data provider asked me to. Apparently the two datasets that we uploaded recently for them include all the data from these two datasets, plus lots more.

I did not know that we were duplicating records when we uploaded the two datasets.

[2017-11-11 09:33] sophiathirza commented on #420
sorry wrong comment previously - just deleted it.

dr727 - because Christine (the data provider) says that there are mistakes in the version that was sent from the Gateway. The ids I think match but Christine would prefer the data to be deleted and to have a complete refresh.

dr1363 - the ids are not consistent. Although many match, the data provider says that they have removed some records from

[2017-11-11 14:39] djtfmartin commented on #421
fixed. reexport from NBN to GBIF

[2017-11-11 14:40] djtfmartin commented on #411
fixed

[2017-11-11 14:40] #411 closed

[2017-11-11 14:42] djtfmartin commented on #365
Can you check the encoding of the source data ?

[2017-11-11 14:43] djtfmartin commented on #98
fixed

[2017-11-11 14:43] #98 closed

[2017-11-12 12:24] JoJudge opened #422 "Items per page - sensitive species list"
ignore this

[2017-11-12 12:25] #422 closed

[2017-11-12 12:37] sophiathirza commented on #421
Thanks. Was the problem that 0 was not in the individual count field? - just so that I can let the data provider know.

Can I do the export from NBN to GBif?

[2017-11-12 12:48] sophiathirza opened #423 "Missing records when filtering by 10km GR"
In the download of all Scymnus schmidti occurrence records there are 15 in TQ40. However, on filtering by TQ40 in the Atlas only 7 records are returned: https://records.nbnatlas.org/occurrences/search?q=lsid%3ANHMSYS0020153404&fq=cl18%3A%22TQ40%22

The Scientific Name field is empty for all the missing records in the download file.

[2017-11-13 08:50] sophiathirza opened #424 "Exported map from spatial portal has 100 km squares rather than 10 km"
Forum message:

I just pulled up a 10km grid map of the ladybird Scymnus schmidti (as you do) and I went to the Analyse Records option, when I could still see them at 10 km. I then selected Export>Map. The resulting jpg however showed the distribution as 100 km squares.

[2017-11-13 08:50] sophiathirza commented on #424
I was able to recreate this.

[2017-11-13 11:39] sophiathirza opened #425 "Change occurrence record defaut values"
Please add a HumanObservation as default value for basisOfRecord and change identificationVerificationStatus and geolocationVerificationStatus default value to unconfirmed

[2017-11-13 11:52] sophiathirza commented on #425
ignore.

[2017-11-13 11:52] #425 closed

[2017-11-13 13:01] GiselleSterry commented on #194
hi @sophiathirza do you know if this is possible. Want to also add in link to data sharing certificates.

[2017-11-13 14:12] sophiathirza commented on #399
I still see the problem with year ranges. We still have January records appearing on the charts: https://species.nbnatlas.org/species/NHMSYS0000530242#records

https://records.nbnatlas.org/occurrences/search?q=lsid:NHMSYS0000530242&fq=month:%2201%22#tab_recordsView

[2017-11-13 14:18] sophiathirza commented on #399
Could we have reverted because I am sure that I checked the Nightjar and it looked okay.

[2017-11-13 15:03] sophiathirza commented on #421
How long will this take to get to GBif? I can see in GBif that the dataset was updated on 11th November but the records still have individual_count_invalid in the individual count field.

[2017-11-13 16:10] sophiathirza commented on #421
thanks. Occurrence status is correctly set in the darwin core download from Gbif.

[2017-11-13 16:10] #421 closed

[2017-11-13 17:27] djtfmartin commented on #252
I think this fixed, difficult to reproduce based on the description provided.
By EYA filters absence data now.

[2017-11-13 17:27] #252 closed

[2017-11-13 17:28] djtfmartin commented on #270
EYA filters absence data now.

this was a duplicate of #252

[2017-11-13 17:28] #270 closed

[2017-11-14 10:27] djtfmartin commented on #406
dr1483 is now loaded. I had to fix the file extensions. Note, the file names are case sensitive

[2017-11-14 10:58] sophiathirza commented on #404
just in case you missed it. this one still needs processing: dr896

[2017-11-14 11:02] djtfmartin commented on #420
dr1647 has problems

[code]
Please check file names and please avoid space characters in file names.

[2017-11-14 11:03] sophiathirza commented on #423
This is correct now with the refresh of the indexes - thanks!

[2017-11-14 11:03] #423 closed

[2017-11-14 11:24] sophiathirza commented on #420
dr1647 - corrected file name, removed spaces and reuploaded

[2017-11-14 11:45] sophiathirza opened #426 "Inconsistent naming of species aggregates and s.l. and s.s."
Forum post:

Not sure if this has been raised before (and this specific example may be sorted by changes following a recent Pip post) - records of species aggregates and presumably s.l. and s.s. need to display this in the usual place i.e. following the species name - for instance see the attached. It took a lot of digging on my part to work out this was a record of Pipistrellus pipistrellus agg (

[2017-11-14 12:03] djtfmartin commented on #420
all done (i think). please raise new issues if there are any with the above datasets

[2017-11-14 12:03] #420 closed

[2017-11-14 12:03] djtfmartin commented on #406
all done (i think). please raise new issues if there are any with the above datasets

[2017-11-14 12:03] #406 closed

[2017-11-14 12:04] djtfmartin commented on #405
any progress on this ? would be nice to be able to sync all with GBIF prior to the conference.

Should have added, this is preventing sharing with GBIF currently....

[2017-11-14 12:07] djtfmartin commented on #418
This is fixed. Heres the output:

https://records-ws.nbnatlas.org/biocache-download/64a45b36-31ed-3c31-809d-55cd44948dfb/1510661119981/records-2017-11-14.zip

[2017-11-14 12:07] #418 closed

[2017-11-14 12:14] sophiathirza opened #427 "Please delete data resource dr1404"
Would you delete this dataset please? Apparently it should have been deleted in April
https://registry.nbnatlas.org/public/show/dr1404

[2017-11-14 12:26] djtfmartin commented on #427
done

[2017-11-14 12:26] #427 closed

[2017-11-14 12:41] sophiathirza opened #428 "Hydracarina class missing from UKSI import"
Hydracarina (TVK NBNSYS0100012475) is missing in the latest version of our import files but it is in the UKSI.

[2017-11-14 13:40] sophiathirza commented on #369
The images have been deleted.

[2017-11-14 13:51] sophiathirza commented on #387
It is not possible to disable to gallery without loosing all the images. The image gallery allows us to manage the images and is not meant as a tool for searching for images of specific species.

Dave has suggested that we extend the species occurrence search to search images rather than occurrences. This search supports taxonomy - i.e. resolving synonyms, matching to higher taxa and showing speci

[2017-11-14 13:51] #387 closed

[2017-11-14 13:59] sophiathirza commented on #405
The BRAG dataset has been deleted. I think the Welsh dataset belongs to dp131 but I need to confirm. Ella is contacting BASC.

[2017-11-14 14:04] #369 closed

[2017-11-14 17:22] sophiathirza commented on #405
BASC data provider has been created. We still need to sort out the Welsh ones.

[2017-11-15 08:42] sophiathirza commented on #314
Both NPMS datasets are now shareable with GBif.

[2017-11-15 08:42] #314 closed

[2017-11-15 09:52] sophiathirza commented on #194
No, it's not possible to add nicely formattted hyperlinks to these free text boxes. It's only possible to simply copy in the link, which doesn't look good.

[2017-11-15 09:57] GiselleSterry commented on #194
Do you know if this function could be added with some programming work? Either to existing or a new box?

[2017-11-15 09:59] sophiathirza opened #429 "Data resource issue and resources for processing"
- [x] dr681 - this has too many records, it should have 147,661 rather than 188,405
- [x] dr837 - match record key with record number (from #420)
- [x] dr896 (from #404)
- [x] dr1374 - to correct some future dates
- [x] dr1624 - to correct some future dates

[2017-11-15 10:00] sophiathirza commented on #194
Yes, it just needs a different input control and perhaps rendering of the text on the page.

[2017-11-15 10:54] sophiathirza commented on #405
New data provider created for Welsh Government and the data resources added to the provider.

[2017-11-15 10:54] #405 closed

[2017-11-15 12:08] sophiathirza opened #430 "Add locality and recorder name to record list"
Add locality (site name) and recorder name to the record item in the list of records.

i.e. on this page: https://records.nbnatlas.org/occurrences/search?q=data_resource_uid:dr679

[2017-11-15 12:10] sophiathirza opened #431 "Add the number of taxa on the data resource metadata page"
Add the number of taxa in the data resource to the data resource metadata page, i.e. this page: https://registry.nbnatlas.org/public/show/dr679

[2017-11-15 12:12] sophiathirza opened #432 "Add ability to filter records by UKSI species profile"
Add ability to filter records by UKSI species profile, i.e. marine, terrestrial and freshwater

[2017-11-15 17:01] djtfmartin commented on #290
this is now fixed

[2017-11-15 17:01] #290 closed

[2017-11-15 17:01] djtfmartin commented on #404
reloaded

[2017-11-15 17:01] #404 closed

[2017-11-15 17:01] djtfmartin commented on #429
dr681 - fixed (have ids changed ???)
dr896, dr1624, dr1374 -  reloaded

dr837 - to be done

[2017-11-15 17:10] djtfmartin commented on #287
I cant recreate this

The link provided shows all public lists. Ill close, but please reopen if you can reproduce.

[2017-11-15 17:10] #287 closed

[2017-11-15 18:30] djtfmartin commented on #432
Once we have this, and we have a suitable boundary for marine/terrestrial, we'll be able to a enable the data quality check thats tests whether there is a a mismatch for a taxon.

[2017-11-15 18:49] sophiathirza commented on #429
I don't think the ids changed for dr681.

dr1374 and dr1624 both now have almost double the number of records that they should have.

[2017-11-15 19:48] djtfmartin commented on #429
have the IDs changed for dr1374 and dr1624 ?

[2017-11-15 20:08] sophiathirza commented on #429
No, I really don't think so. In the morning I will compare the two txt files. All I did was unzip the files from the data providers, correct the column header name (occurrence was spelt wrong in one) and save as tab delimited text file, making sure that I converted the date fields to DD/MM/YYYY before saving. The last step was the one that I forgot the first time I uploaded the file.

[2017-11-15 20:10] sophiathirza commented on #432
Should I source a spatial layer for the boundaries between marine and terrestrial, I guess that we don't have one?

[2017-11-15 20:15] djtfmartin commented on #432
yes, that would be great

[2017-11-15 20:30] djtfmartin commented on #429
I think its an issue with the indexes. The data is only loaded into the DB once, as far as i can see.

Ill start a re-index.

When i download the entire datasets for dr1624, i get the correct number of records.

[2017-11-16 09:25] djtfmartin commented on #394
In this instance, the second match is there because its matched the epithet, not because of the synonym.

[2017-11-16 09:27] djtfmartin commented on #394
Heres an example where it has matched the synonym

<img width="1439" alt="screenshot 2017-11-16 09 26 55" src="https://user-images.githubusercontent.com/444897/32883827-5e4ba344-cab0-11e7-9c84-031269d934e4.png">

[2017-11-16 09:33] sophiathirza commented on #394
so the problem in my example is the order of the search results, because a synonym match (which it also is) should come before matching a single part of the name.

The actual synonym match is on page 2.

[2017-11-16 10:11] sophiathirza commented on #394
Closing this as synonym matches are correctly identified.

[2017-11-16 10:11] #394 closed

[2017-11-16 10:14] djtfmartin commented on #401
Scambus - genus should have a better boost.

[2017-11-16 10:16] djtfmartin commented on #250
We have CSV exports available on data resource and data partner admin pages.
this is done.

[2017-11-16 10:16] #250 closed

[2017-11-16 10:18] djtfmartin commented on #16
Im going to close this  - as im not aware of any required updates or ongoing work.

[2017-11-16 10:19] sophiathirza commented on #196
Irish VCs: https://github.com/SK53/Irish-Vice-Counties/blob/master/vice_counties/All_Irish_Vice_Counties_irish_grid.shp

[2017-11-16 10:19] djtfmartin commented on #33
Still to be done. The registry is now in bootstrap3, so applying the template should be relatively straightforward

[2017-11-16 10:19] djtfmartin commented on #130
done

[2017-11-16 10:19] #130 closed

[2017-11-16 10:36] sophiathirza commented on #432
World Vector Shoreline: https://gcmd.nasa.gov/records/GCMD_WVS_DMA_NIMA.html, accurate to 500m

[2017-11-16 10:36] sophiathirza opened #433 "Source spatial layer for boundary between sea and land"
World Vector Shoreline: https://gcmd.nasa.gov/records/GCMD_WVS_DMA_NIMA.html, accurate to 500m

[2017-11-17 07:18] djtfmartin commented on #399
should be fixed (again). Nightjar graph looks ok

[2017-11-17 07:18] #399 closed

[2017-11-17 08:07] #429 closed

[2017-11-17 08:07] djtfmartin commented on #429
all resources (re)loaded

[2017-11-17 10:13] djtfmartin commented on #28
closing for now, as there is no plans to enable this tool

[2017-11-17 10:13] #28 closed

[2017-11-17 10:13] djtfmartin commented on #73
closing. reopen if its still an issue

[2017-11-17 10:13] #73 closed

[2017-11-17 10:18] djtfmartin commented on #265
This specifically affects user drawn polygons / bounding boxes.

[2017-11-17 10:28] djtfmartin commented on #180
This is looks ok to me. Closing. @burkmarr please let us know if theres still an issue

[2017-11-17 10:28] #180 closed

[2017-11-17 10:29] djtfmartin commented on #150
This has been implemented (by ALA) and deployed for NBN. Further refinements should be opened as enhancements / further work

[2017-11-17 10:29] #150 closed

[2017-11-17 10:36] djtfmartin commented on #78
closing

[2017-11-17 10:36] #78 closed

[2017-11-17 12:11] sophiathirza commented on #428
Hydracarina (TVK NBNSYS0100012475) is in the release-version of our import files.

[2017-11-17 12:11] #428 closed

[2017-11-17 12:29] sophiathirza commented on #325
Added common name black list to the UKSI import script. Janapese Knotweed  and Water Rat are no longer in the vernacular csv file.

[2017-11-17 13:22] sophiathirza commented on #383
The latest habmos shapefile is available. All the habitat types have been mapped - there are 220 different habitat types.

@djtfmartin @CEJohnston should I make an individual shapefile for each habitat type for upload?

[2017-11-17 21:15] djtfmartin commented on #412
this is now fixed.

[2017-11-17 21:15] djtfmartin commented on #377
this is now fixed.

[2017-11-17 21:15] #377 closed

[2017-11-20 09:53] sophiathirza commented on #412
This is still a problem.

[2017-11-20 09:59] djtfmartin commented on #412
I see the problem, the query URL is getting truncated after the sort

[2017-11-20 10:21] sophiathirza opened #434 "National Trust for Scotland’s property boundaries"
Spatial dataset available for upload. Layer name: nts_properties_opendataderived

[2017-11-20 10:41] sophiathirza opened #435 "Add LERC boundaries and/or vice counties to pre-defined areas on NBN Atlas Scotland"
Request from forum post:
https://forums.nbn.org.uk/viewtopic.php?id=7067

[2017-11-22 10:23] sophiathirza opened #436 "Datasets for processing"
- [ ] dr1486     - 41087 records online, 40775 in file
- [x] dr1363
- [x] dr1661
- [x] dr1662
- [x] dr1663
- [x] dr1664
- [x] dr1665
- [x] dr1666
- [x] dr1667
- [x] dr1668
- [x] dr1669
- [x] dr1670
- [x] dr1671
- [x] dr1672
- [x] dr1673
- [x] dr1674
- [x] dr1675
- [x] dr1685
- [x] dr1686
- [x] dr1687

match occurrenceID to Record number:
- [ ] dr1180  - 12189 records online, 11880 in file
- [x] dr

[2017-11-23 09:27] CEJohnston commented on #16
I think this needs to stay open.  @EllaVogel and I worked on the list but we did not get through it completely.  We got stuck on marine species in particular. Would be good to understand more about where and how the list is used in the Atlas so we can check if there are any 'odd-looking' results from it.

[2017-11-23 09:50] CEJohnston commented on #383
I think ideally we would like to show all the habitats at that detailed level - I wrote a document about how the habitats might be displayed a while ago - attached.
[1026 Habitat Map of Scotland.docx](https://github.com/nbnuk/nbnatlas-issues/files/1498566/1026.Habitat.Map.of.Scotland.docx)

Please advise if this way of displaying the info is possible.  If we can't go down to the detailed level ple

[2017-11-23 14:18] CEJohnston opened #437 "Marine base map and habitat layer suggestions"
At the NBN Conference Dan Lear's talk included a suggestion for a source for marine base mapping - http://portal.emodnet-bathymetry.eu.  The website has several options for bathymetric layers and also for habitat mapping (though the latter is gappy).

Will forward an email from Esther (also at the Marine Biological Association) with other possible contacts for marine data.

[2017-11-23 14:27] sophiathirza opened #438 "Allow uploading occurrence records using vernacular name TVK"
Could we enable matching the TVK from the NameID field in vernacular.csv file, when uploading occurrence records? Only if the TVK is not matched by scientific name first.

It seems that quite a few recording groups have records saved as common names and they don't realise when exporting from Record 6 that it is a mix of scientific and common name TVKs.

[2017-11-24 10:17] sophiathirza commented on #419
We don't have any occurrence records for these, only in species lists. So I will close this for now.

[2017-11-24 10:17] #419 closed

[2017-11-24 11:27] sophiathirza opened #439 "Re-run index"
Could the index be re-run please, as there are many records without OSGR 10km assignment. Thanks.

[2017-11-24 16:13] sophiathirza opened #440 "Is it possible to search occurrence records by taxon group?"
Is it possible to search by UKSI taxon group (i.e. insect - hymenopteran) in the records web service? For example: fq="taxonGroup_s:insect - hymenopteran"?

I tried it and no results were returned. I think that it only works on species searches.

[2017-11-27 12:52] MandyHenshall opened #441 "Hover text when in Occurrence records says ALA"
When in Occurrence records and you hover over Analyse data the text says "Continue analysis in ALA Spatial portal".  Can this be changed to NBN Atlas.

[2017-11-29 11:45] MandyHenshall opened #442 "Error 500: Internal Server Error"
Error reported by user when trying to register at 10.16 today.  I've tried to replicate and got the same message.

![image](https://user-images.githubusercontent.com/27201815/33373628-b50b72b4-d4fa-11e7-8c12-b88dbb79f6e8.png)

[2017-11-30 15:53] JoJudge commented on #364
Results from the questionnaire at the conference suggested that most people (77% of those who responded) don't want/need colour by resolution by default.

[2017-11-30 16:42] JoJudge commented on #325
@sophiathirza Can this be closed now?

[2017-12-01 07:51] sophiathirza commented on #325
No, we still need to update the UKSI on the Atlas.

[2017-12-01 08:39] sophiathirza commented on #442
I think that this might be resolved as people have registered since the issue was raised.

[2017-12-01 08:40] djtfmartin commented on #442
this is resolved. it was due to the certificate expiring

[2017-12-01 08:40] #442 closed

[2017-12-04 13:07] sophiathirza opened #443 "Change text when image rights holder is missing"
If the rightsholder of an image is missing replace the text  “Rights holder: no rights holder” with “Rights holder: rights holder unknown”.

Email from photographer:
Presumably the rights holder info is taken from the EXIF data?

It’s a bit of step to say that absence of copyright entry in EXIF means here is no rights holder – a lot of websites automatically strip EXIF information (as does Discove

[2017-12-04 20:35] djtfmartin commented on #265
This is now fixed

[2017-12-04 20:35] #265 closed

[2017-12-05 12:10] sophiathirza commented on #440
If we can align the species groups (#16) with the UKSI taxon groups, this will not be required.

[2017-12-05 12:17] sophiathirza commented on #440
Closing as we have #16 still open.

[2017-12-05 12:17] #440 closed

[2017-12-05 13:05] sophiathirza commented on #16
These are the taxon group from the UKSI:
[taxon_groups.txt](https://github.com/nbnuk/nbnatlas-issues/files/1531195/taxon_groups.txt)

[2017-12-05 18:38] sophiathirza commented on #410
I am going to close this, as I still haven't found any broken links.

[2017-12-05 18:38] #410 closed

[2017-12-06 15:20] MandyHenshall opened #444 "Unable to download list of registered users"
I'm trying to download the registered users list to put an updated number into Network News, but I'm getting the error message below.  If this is a hard to resolve issue, can anyone else access an updated figure please?  I don't include those who haven't activated their account.  Sorry for short deadline, but Network News is due to go out today!
HTTP Status 403 -
type Status report
message
descrip

[2017-12-06 16:14] reupost commented on #444
Hi Mandy - can you send me a link to the page you were looking at?  I'm new to the Admin functionality but I'll try to help.

[2017-12-06 16:22] sophiathirza commented on #444
I'm back online and will have a look as well. Sorry, it's public holidays here.

[2017-12-06 16:24] MandyHenshall commented on #444
Thanks Reuben.  It's on "My profile" -> Admin tools->and then user administration.  I don't think the link will work as you need to be logged in, but just in case: https://auth.nbnatlas.org/userdetails/admin

[2017-12-06 16:25] sophiathirza commented on #444
I have the same error, both on the website and through the API. @djtfmartin do you know what the problem could be? thanks.

[2017-12-06 16:40] reupost commented on #444
Yes, me too.  I can look at this later this eve if its still a problem, but not right now - sorry.

[2017-12-06 16:44] MandyHenshall commented on #444
Thanks both.  We (the office) seem to have an issue with emails at the moment, so I can't send Network News out now anyway! Will need to do so in the morning though, but it can go without that figure if needs be.

[2017-12-06 20:43] reupost commented on #444
Mandy, I've emailed you a stop-gap list which is hopefully ok.  I'll be online again early in the morning if you need anything else.  Otherwise we'll need to dig a little deeper to find out what is causing the problem.

[2017-12-07 15:30] djtfmartin commented on #402
This is fixed. It was caused by the way the indexes where being transferred and an overwriting of the core.properties file in the SOLR node.

[2017-12-07 15:30] #402 closed

[2017-12-07 15:33] djtfmartin commented on #444
assume this is now fixed

[2017-12-07 15:33] djtfmartin commented on #439
done

[2017-12-07 15:33] #439 closed

[2017-12-08 10:08] reupost commented on #444
I'm still experiencing this issue.  I get a 403 error on the CSV download of the list of users, and an SSL certificate problem if I try the web service.  This could be because my IP address is not authorised to use the service.

@MandyHenshall , could you give it a try please?

@sophiathirza - does it work for you?

[2017-12-08 10:11] djtfmartin commented on #444
sorry @reupost, there was a separate email thread - should have cc-ed you.

Its IP restricted. I'll forward the email to you.

[2017-12-11 12:54] djtfmartin commented on #162
closing.  please reopen if its still a bug

[2017-12-11 17:33] djtfmartin commented on #181
this is fixed

[2017-12-11 17:33] #181 closed

[2017-12-13 16:51] GiselleSterry commented on #444
Hi @djtfmartin I have lost the ability to download reports. Just tried for the first time since moving office. Mandy just tried and cant do it either - both get 403 message
thanks

[2017-12-13 18:01] djtfmartin commented on #444
thanks @GiselleSterry  - is this download usage reports or lists of users ?

[2017-12-14 09:09] sophiathirza commented on #436
@reupost and @djtfmartin would it be possible to start processing these datasets? I have some more to add but there is probably enough in this list already. thanks.

Most of these have the two new verification fields and I formatted the dates to be YYYY-MM-DD, rather than the normal DD/MM/YYYY.

[2017-12-14 09:12] sophiathirza opened #445 "Incorrect display of dates with Day range precision"
Message from the forum: https://forums.nbn.org.uk/viewtopic.php?id=7095

The day is missing from the date in this record https://records.nbnatlas.org/occurrences/d480a8e6-e583-403e-a28a-fa5c737efee6

Event date start    1912-08 Supplied  "26/08/1912"
Event date end    1912-09 Supplied as 06/09/1912

[2017-12-14 09:14] sophiathirza commented on #445
This problem is mentioned in the closed issue #398 but I couldn't find an open issue for it.

[2017-12-14 09:15] GiselleSterry commented on #444
Hi @djtfmartin its the list of users report. Not tried the usage reports yet.

[2017-12-14 09:26] sophiathirza opened #446 "Incorrect parsing of P date precision dates"
Message from the forum: https://forums.nbn.org.uk/viewtopic.php?id=7096

There are 1,654 records with a P date precision, which Record 6 interpreted as season. They should be a month range (with season in the verbatimEventDate ?).

[2017-12-14 09:39] GiselleSterry commented on #444
Just tried and I am able to download a user report for a data provider. So its just the list of registered users I cant download. thanks

[2017-12-14 10:08] sophiathirza opened #447 "Update the UKSI"
Could the species dictionary be updated on the Atlas, please? I have the processed files ready.

[2017-12-14 10:22] GiselleSterry opened #448 "Amend user sign up form to meet GDPA guidance"
Review form to ensure collecting relevant data on users to meet GDPA guidance due to take effect from May 2018. Details to be discussed outside github.

[2017-12-14 10:30] GiselleSterry opened #449 "Create bespoke Reports for NBN Atlas"
Develop suite of reports to allow us to enhance monitoring of use of NBN Atlas. Ideas to be added to shared spreadsheet available on shared NBN drive.

[2017-12-14 11:03] reupost commented on #436
@djtfmartin would you mind giving me a hand with this?  I'm assuming I need to follow the instructions here https://github.com/AtlasOfLivingAustralia/documentation/wiki/Data-ingestion .  Is there any separate process for spatial indexing the new+revised datasets?

[2017-12-14 11:39] sophiathirza opened #450 "Abundance data missing from export to GBIF"
Apparently abundance information is not being included in the export to GBIF. Do we send the individual count field to GBIF?

This was reported sometime ago, but I can't find any details about it here.

[2017-12-14 11:47] djtfmartin commented on #450
As far as I know we do

For reference:
https://github.com/AtlasOfLivingAustralia/biocache-store/blob/2.x/src/main/scala/au/org/ala/biocache/export/DwCACreator.scala#L27

Can you provide an example ?

[2017-12-14 11:48] sophiathirza commented on #450
I'll ask them for an example now that I know that we do send the field. Thanks.

[2017-12-14 14:23] sophiathirza commented on #450
It was absence records that they meant - which has been corrected.

[2017-12-14 14:23] #450 closed

[2017-12-15 12:19] sophiathirza opened #451 "Occurrence record event date error"
In the following dataset, which has just been updated, https://records.nbnatlas.org/occurrences/a4686257-67e4-4553-8b15-1f95d6b188e4, the record date displays as Year:2031 Month:08 Day: ""  but the supplied date in the upload file was 01/08/1931. It was a darwin core formatted txt file.

I just noticed that there is a future date in the file, so if we need to reprocess could I re-upload the file f

[2017-12-16 13:49] sophiathirza opened #452 "NBN Atlas Scotland Species Results Problems"
Message from the forum (https://forums.nbn.org.uk/viewtopic.php?id=7103):

I have been experiencing problems with the species maps and record filters for a while, which I have attributed to my slow and unstable broadband reception during bad weather. The filters have not been working, the grid reference letters on the map squares have been absent and the ability to alter the opacity on the map has

[2017-12-18 13:05] reupost commented on #451
The actual value in the text file is "01/08/31".   The one that seems future dated is "19/06/27", which is possibly also intended to be 1927, but Excel might be deciding to show it as 2027 (as per https://support.office.com/en-us/article/Change-the-date-system-format-or-two-digit-year-interpretation-aaa2159b-4ae8-4651-8bce-d4707bc9fb9f). Ideally, we'd have 4-digit years for our dates to avoid any

[2017-12-18 13:47] sophiathirza commented on #451
Thanks. I've reuploaded the csv file, after formatting the dates.

The dates have four digits but my computer only shows two by default and then if I save without forcing it to show four digits some dates are changed (i.e. 1918 becomes 2018).

[2017-12-18 15:03] sophiathirza opened #453 "No dots on occurrence and interactive maps"
This afternoon the dots have stopped displaying on the species occurrence maps and on the interactive maps.

[2017-12-18 15:52] djtfmartin commented on #453
i cant reproduce this

[2017-12-18 16:00] reupost commented on #453
I think I've just resolved this (temporarily) by freeing up some disk space.  Hoping we can come up with a mechanism to handle some of the really huge shapefiles that users can generate.

[2017-12-18 18:56] sophiathirza commented on #453
thanks. The interactive maps are working now but I still find some occurrence maps that are empty, e.g. https://species.nbnatlas.org/species/NBNSYS0000003214

[2017-12-18 19:14] reupost commented on #453
Funnily enough, that map is coming up pretty well for me, but i'll look at the logs and see if i can find anything.On 18 Dec 2017 18:56, Sophia <notifications@github.com> wrote:thanks. The interactive maps are working now but I still find some occurrence maps that are empty, e.g. https://species.nbnatlas.org/species/NBNSYS0000003214

—You are receiving this because you were assigned.Reply to this

[2017-12-19 08:41] sophiathirza commented on #453
I still have the same problem in firefox but I tried in another browser and the dots display correctly.

[2017-12-19 08:44] reupost commented on #453
Would you mind clearing your Firefox cache and see if the problem persists?  I’ve just had a look at the example you mentioned and it looks ok on my side.

[2017-12-19 08:44] sophiathirza commented on #447
I have been asked a couple of times about this. @djtfmartin  when do you think that you will have time to update the species dictionary? - just so that I can let Chris know.

[2017-12-19 08:46] sophiathirza commented on #453
All okay now, thanks.

[2017-12-19 08:46] #453 closed

[2017-12-19 11:20] reupost opened #454 "Temporary shapefile store location"
At present the user-search temporary shapefiles are being stored in records-ws:/tmp/tomcat7-tomcat7-tmp/ .  Find a better place for these (e.g. /downloads) with more available disk space AND/OR look at managing what can be mapped so huge files are not created (some were >8GB).

[2017-12-19 11:24] reupost opened #455 "Server disk space tracking"
To avoid running out of diskspace on the servers. Investigate what monitoring tools are available (e.g. on EC2, Xymon) and make recommendation

[2017-12-19 11:26] reupost commented on #453
I'm going to open two related issues: #454 and #455 to find a more permanent fix for this.

[2017-12-19 15:44] GiselleSterry commented on #444
Hi @djtfmartin I have reopened this so doesn't get forgotten. Thanks

[2017-12-19 15:53] reupost commented on #444
HI @GiselleSterry - could you send me your IP address (you can see it on e.g. https://www.whatismyip.com/)?  Then I can check to make sure you are whitelisted.

[2017-12-19 15:54] GiselleSterry commented on #444
[redacted]

thanks @reupost

[2017-12-19 16:01] CEJohnston commented on #433
Could we use one of the existing layers -  'World base layer' (short name 'world') - for this?  It may have a slightly coarser resolution than the layer above but I am not sure where it came from.

If we need something more detailed the Office for National Statistics provides a GB outline at [http://geoportal.statistics.gov.uk/datasets/21ab94915c5342ceadf124f44fb584f8_0](url).  And ESRI's library

[2017-12-20 07:33] reupost commented on #444
It looks like the system needs an IPv4 address (like xx.xx.xx.xx)  rather than an IPv6 address.  Would you mind seeing if http://test-ipv6.com/ shows you an IPv4 address for you?

[2017-12-20 08:46] GiselleSterry commented on #444
[redacted] @reupost thanks

[2017-12-20 09:12] reupost commented on #444
No problem - could you try now?  I think it should be fixed.

[2017-12-20 09:14] GiselleSterry commented on #444
thanks - its worked.

[2017-12-20 09:20] MandyHenshall commented on #444
Mine is [redacted] @reupost

[2017-12-20 09:26] reupost commented on #444
Added :)

[2017-12-20 09:28] MandyHenshall commented on #444
It worked for me too. Thank you @reupost !

[2017-12-20 14:19] CEJohnston opened #456 "Area reports - add option for user to define which list to report against"
Area reports report species numbers against all the lists we have in the Atlas.  As more lists get added to the Atlas the report gets longer - would it be possible to provide a drop-down menu or similar to enable users to select which lists they are interested in or to easily choose all lists?

[2017-12-20 14:34] djtfmartin commented on #456
It could be possible, In the interim, can someone from the team please select a subset of the lists to use ?

This can then be used in configuration to limit the area report to just a small number of lists.

[2017-12-20 15:41] reupost commented on #455
Set up on auth and records-ws servers using AWS

[2017-12-20 15:41] #455 closed

[2017-12-21 11:40] sophiathirza opened #457 "Could the occurrence record count indicate when it includes absence records?"
For example: https://species.nbnatlas.org/species/NBNSYS0000178578#tab_mapView

15 of the records are absence records and (correctly) do not appear on the map. Could the number of absence records be written somewhere, otherwise comparing the total number of records and the distribution map is misleading.

[2017-12-21 13:26] CEJohnston commented on #456
The drop down menu idea came about after we had had the discussion about which lists to prioritise and realised we didn't know which are of greatest interest to users.  Can the report be left as is for the moment or is it a problem?  Please retain this drop down idea for a future enhancement.

[2018-01-02 07:30] reupost opened #458 "Easymap: display blank map if no records"
At present, an error message is displayed if a map is drawn for a species with no occurrence records.  The preferred behaviour (as per the Gateway) is to display a blank map.

[2018-01-02 11:33] reupost commented on #458
Fix to loaddatasources.datasourceListForDRUIDSandTVK() to catch error when reference list is empty (no occurrence records).
Test set:
Worked:
https://easymap.nbnatlas.org/EasyMap?tvk=NHMSYS0021056155&ref=0
Failed (now fixed):
https://easymap.nbnatlas.org/EasyMap?tvk=NHMSYS0021056155

[2018-01-02 11:33] #458 closed

[2018-01-06 11:09] sophiathirza opened #459 "Replace data resource verification status text with indication of number of accepted records"
Replace the verification status text on the data resource page with an indicator of the proportion of accepted records.

If it's not possible for launch to show the proportion of accepted records, could the verification text be removed, as I think that it will be confusing to have verification at both the data resource and record levels.

[2018-01-06 11:12] sophiathirza opened #460 "Replace data resource verification status text with indication of number of accepted records"
Replace the verification status text on the data resource page with an indicator of the proportion of accepted records.

If it's not possible for launch to show the proportion of accepted records, could the verification text be removed, as I think that it will be confusing to have verification at both the data resource and record levels?

[2018-01-09 15:29] MandyHenshall opened #461 "Multiple advanced record search saying no records found"
A user has been trying to search for multiple species from the advanced record search window but it keeps saying:
No records found for (taxa:"Huperzia selago" OR taxa:"Lycopodium clavatum")

The batch search seems to work ok but he would ideally like to use a date filter as well.

I've replicated this issue. Please advise. Thanks.

[2018-01-10 10:48] sophiathirza commented on #426
Chris has raised the same issue with some other species:

There are two Enicospilus merdarius in UKSI. One had the
https://species.nbnatlas.org/species/NHMSYS0021161445
https://species.nbnatlas.org/species/NBNSYS0000146695

One has a date-restriction qualifier on it, which is not visible on the Atlas

[2018-01-10 11:59] #364 closed

[2018-01-10 12:00] reupost commented on #459
Duplicate of #460

[2018-01-10 12:00] #459 closed

[2018-01-10 12:26] reupost commented on #454
Files saved to /downloads/shapefile-tmp.  Need to look at possible limit on number of records downloaded as shapefile, and/or automated cleaning-up of temporary folder.  Also suggested running two instances of records-ws to avoid download issues affecting general site users.

[2018-01-10 12:26] #454 closed

[2018-01-10 14:31] GiselleSterry commented on #444
Hi @reupost .
This isnt working again for both @MandyHenshall and myself. Can you look at this again please. Many thanks!

[2018-01-10 14:34] reupost commented on #444
Could you send me your IP addresses again please and I'll take a look?

[2018-01-10 14:35] MandyHenshall commented on #444
@reupost If there is any chance you could pull me off the list or tell me the number of registered and active users please it would be much appreciated.  I am sending Network News out today and put the new figures in each month. Thank you  ;-)

IP address is the same for both of us: [redacted]

[2018-01-10 15:33] reupost commented on #444
(Checked actual IPs from apache logs, which was different, and added that. Not sure why. Now working)

[2018-01-10 15:33] GiselleSterry commented on #444
@reupost thanks - worked for me too.

[2018-01-11 15:49] sophiathirza commented on #363
Could this issue be squeezed into your work please? I have had some more irate emails about it.

It would also really help to change 'View map' to 'View interactive map', thanks

[2018-01-15 13:33] sophiathirza commented on #436
@reupost thanks for processing the files. Some of the datasets have more records online than in the upload files, could you investigate why please?

I have to reupload 7 of the datasets because the common name tvk has been used or there are invalid dates. I will start a new issue for those and include some new datasets.

[2018-01-15 14:36] reupost commented on #436
@sophiathirza I'll take a look now.  If you have any example of specific records that seem duplicated that would be useful, otherwise I'll see if I can extract some.

[2018-01-16 02:30] sophiathirza commented on #451
I still have a similar problem in the updated record: the record date displays as Year:1931 Month:08 Day: "" but the supplied date in the upload file was 01/08/1931 and it correctly says that it is has a Day precision. It was a darwin core formatted txt file.

[2018-01-16 02:37] sophiathirza commented on #316
Most of the recent new data resources use lat-long coordinates rather than grid references and so the records are not visible on the grid map. I have another 12 datasets from a data provider all with lat-long coordinates. Could you have a look at this as soon as possible, please?

[2018-01-16 05:20] reupost commented on #316
I'll look at this today.

[2018-01-16 10:19] reupost opened #462 "Downloads: DwC as shapefile fails"
Always get email stating download fails; log indicates that required longitude and latitude fields are missing.

[2018-01-16 10:22] reupost opened #463 "Downloads: queue moving very slowly / stuck"
Some downloads have been queued since 5 Jan (as per https://records-ws.nbnatlas.org/occurrences/offline/status).  Need to investigate (a) how to manually delete stuck entries from download queue, (b) configure download size limits appropriately and (c) investigate errors logged in biocache-service.log on records-ws server, e.g. problem with polygon-delimited selection area with duplicated points s

[2018-01-16 10:24] reupost commented on #436
Some problems noted with missing data in the 'record_number' and 'Institution code' fields (from simple spreadsheet-style downloads) for these newly reindexed datasets.

[2018-01-17 10:18] sophiathirza commented on #388
Jo suggested looking at Wikipedia as a source of information on the species pages. Map of Life (https://mol.org) uses Wikipedia. I did a quick check of some of our problematic species and Wikipedia does look better than EoL; the descriptions are much more general.

[2018-01-17 11:14] MNSmith commented on #388
I think this still misses the point that a "general, single species information source", while easy to set up a link for, will not have the level of accuracy in species information that the NBN Atlas should be offering when people are looking at a species info page.  Species pages should be individually linked to the best source of data that is around, hence my comments about the NSS pages.

[2018-01-17 11:24] djtfmartin commented on #388
Using the content from NSS pages would be the ideal, but it will take a considerable amount of time to achieve technically (theres no widely adopted exchange standard for species profile information content) and there would need to be data agreements put in place. In additional, the national schemes may not wish to share this information.

[2018-01-17 12:10] MNSmith commented on #388
I agree with your comment about the NSS not wishing to share info, but has anybody asked.

The NBN species page does not have to display a block of text  / import information from another page, a simple hyperlink to a reliable page of information would be sufficient.  What appears from EoL is not in a standard format at present.

[2018-01-17 12:18] EllaVogel commented on #388
I agree that ideally, we'd have these sections editable by experts in NSS.

In the meantime, has anyone explored if arkive.org is a better source of info than EoL? E.g. http://www.arkive.org/puffin/fratercula-arctica/ . I've had a quick look and the info seems good, but I'm not an expert so would struggle to pick up too many species specific errors.

[2018-01-17 12:52] djtfmartin commented on #388
The NBN Atlas species pages have the content from Arkive, and its coming from the EOL webservices.

<img width="598" alt="screenshot 2018-01-17 12 48 48" src="https://user-images.githubusercontent.com/444897/35043531-e18a20f0-fb84-11e7-870d-92313cea85fc.png">

If there are additional sources (e.g. NSS) that should be on NBN atlas species pages, the easiest thing to do might be to expose that to EO

[2018-01-17 17:48] sophiathirza opened #464 "Download reason dropdown list empty on https://scotland-regions.nbnatlas.org"
On downloading records after a search in a predefined area on the Atlas Scotland the download reason dropdown list in the dialogue box is empty. This means that it is not possible to download records from this page.

[2018-01-17 18:15] sophiathirza opened #465 "Back to records on Atlas Scotland sometimes returns records from a different search"
Forum message:
Using Atlas Scotland I searched for Spermothamnion repens, which produced a set of records and I chose a record to view and then clicked "back to records" and was presented with a list of records for Eristalis nemorum.

[2018-01-17 18:19] sophiathirza commented on #465
I tried this a couple of times with different species searches and was able to recreate it once. I was shown the results from a spatial search when I had only done a species search.

[2018-01-18 10:51] reupost commented on #465
Is there any way to recreate this issue reliably?  Does it depend on having multiple browser tabs open?  Any more details would help a lot.

[2018-01-18 12:50] sophiathirza commented on #465
I have just tried again and couldn't recreate it. I tried with one or more browsers open. Could we leave this open, in case I can get more details?

[2018-01-19 10:51] sophiathirza commented on #436
I have reuploaded:
- [ ] dr1486
- [ ] dr1180
- [ ] dr795
- [ ] dr798
- [ ] dr787
- [ ] dr771
- [ ] dr797

New dataset for processing:
- [x] dr1713

[2018-01-21 08:10] reupost commented on #436
These are currently being processed.

[2018-01-22 12:06] EllaVogel opened #466 "Isle of Man focus is lost when viewing spatial portal"
Analyse Data from https://isleofman.nbnatlas.org/ (search > map > analyse data) takes you to https://spatial.nbnatlas.org/ and 'loses' Isle of Man specific map

[2018-01-22 12:08] EllaVogel opened #467 "(IOM) Country field is incorrect for Isle of Man records"
Locations: country field is incorrectly inferred from records - is returning UK not the Isle of Man (e.g.SC190) E.g. https://isleofman-records.nbnatlas.org/occurrences/d2a59660-bb48-459d-9e98-f871a7f125e8 Country field says UK, whereas it should be Isle of Man.

[2018-01-22 12:14] EllaVogel opened #468 "Analyse data button not working on Isle of Man species pages"
Analyse data button not working on species pages e.g. https://isleofman-species.nbnatlas.org/species/NBNSYS0000174820. E.g on the Species page for Lion's Mane Jellyfish: https://isleofman-species.nbnatlas.org/species/NBNSYS0000174820 Clicked on Analyse Data and error message 'This site cannot be reached'

[2018-01-22 12:15] EllaVogel opened #469 "Species search doesn't generate predictive list on Atlases"
The https://isleofman-species.nbnatlas.org/ searchbox does not generate a predictive list of species as you type, unlike the main searchbox on the homepage
(Low priority?)

[2018-01-22 12:20] EllaVogel opened #470 "'Colour by year' years are not in order (IOM)"
Search for species and look at 'View Map'.  When selecting Colour By…Display Points by Year, the points display okay but the years are not in order. (Issue raised against Isle of Man Atlas, but I think this is an issue with all of the Atlases?)

[2018-01-22 12:22] EllaVogel opened #471 "Can't go back to search once record is viewed (IOM)"
If you zoom into an area of a map, then click on a point and 'View Record' you see the record (which is great!) but then it would be really nice to go straight back to the zoomed in map you were looking at.

[2018-01-22 12:23] EllaVogel opened #472 "Mismatch between records showing on Isle of Man Atlas and core Atlas"
Compared 2 exact polygons - 1 using https://isleofman-records.nbnatlas.org/search#tab_spatialSearch and 1 using https://records.nbnatlas.org/search#tab_spatialSearch  Error in that NBN Atlas Isle of Man showed '0' records whilst NBN Atlas showed '80' records.

[2018-01-22 12:24] EllaVogel opened #473 "Interactive map: Records only accessible when viewing as point data (IOM)"
https://isleofman-records.nbnatlas.org/occurrences/search?q=lsid:NHMSYS0000530739#tab_mapView - none of the records return when clicking on the Variable grids.  Can only open records in point data view - this is true of all records.

[2018-01-22 12:26] EllaVogel opened #474 "Text not displaying properly when looking at charts (IOM)"
https://isleofman-species.nbnatlas.org/species/NHMSYS0000530739#records - the legend to the charts appear 'cut off', e.g. 'anx Biological Recording Partnership' instead of 'Manx Biological Recording Partnership'
(I think this is an issue with all atlases, not just Isle of Man)

[2018-01-22 12:27] EllaVogel opened #475 "Additional names in Names tab"
Someone has asked: https://isleofman-species.nbnatlas.org/species/NBNSYS0000003194#names - can we supply Manx Gaelic as Common names in Names and Sources?
If they supply the names can we add them in, or do they need to go via the UK species inventory list?

[2018-01-22 12:29] EllaVogel commented on #474
Similar issue reported here: https://isleofman-records.nbnatlas.org/occurrences/search?q=lsid:NHMSYS0000530739#tab_chartsView - the '1800' is obscured on the vertical axis of the By month chart

[2018-01-22 12:30] EllaVogel opened #476 "IOM: Refine results option 'Recorded in Australia'"
https://isleofman-species.nbnatlas.org/search/?q=mountain+hare - Refine Results includes 'Recorded in Australia' - this is confusing in an NBN Atlas Isle of Man context.

[2018-01-22 12:48] sophiathirza commented on #475
It has to go via the UK species inventory. If they can supply the names, I will send them to Chris.

[2018-01-22 14:54] EllaVogel opened #477 "User defined polygon not showing records on Isle of Man atlas."
I got 6270 results for spatial validity within user defined polygon.  But when I changed the sort order from Ascending to Descending I got 'No records found' although using the back arrow it then said it was showing in Descending order (although I couldn't see that the order of the records had actually changed).
https://isleofman-records.nbnatlas.org/search#tab_spatialSearch

[2018-01-22 15:33] EllaVogel opened #478 "Isle of Man missing from 'Choose Atlas' drop-down"

[2018-01-22 15:34] EllaVogel commented on #471
Similar issue reported here: In several areas, tabbing backwards takes user back to a default page, not the page in the state the user just left it (e.g. with search results); there is no caching of data, hence you have to restart a search/filtering to get back to where you were

[2018-01-22 15:37] EllaVogel opened #479 "Species images not location specific"
I know that issues with images have been discussed already, but thought I'd raise this feedback here too:
Images do not carry the necessary location information. E.g. for Curlew images are from Australia. For many bird species, this will mean that the specific race/subspecies associated with the Isle of Man will not be shown; instead, misleading images of birds that don’t look like our birds are d

[2018-01-23 11:00] MandyHenshall opened #480 "ALA reference on Create your account page and ALA links"
I can't seem to get into this page of the CMS desk, so wonder if this has to be done within the NBN Atlas?

The following needs amending with the bold text added or amended:
For the **NBN** Atlas' policy on the collection and use of personal information see our **Privacy Policy** (this need to be updated to NBN Atlas link to the Terms of Use, not ALA).

Your email address will be your ALA(delete a

[2018-01-23 12:51] sophiathirza commented on #473
It looks like the url is being truncated so that the querystring is missing the grid reference on the records page.

[2018-01-23 12:56] sophiathirza commented on #477
This also sounds like the url is being truncated on changing the sort order. I have tried several polygon searches and no records are being returned.

[2018-01-23 12:58] sophiathirza commented on #472
I have tried several spatial searches in the IoM Atlas and no records have been returned.

[2018-01-23 12:59] sophiathirza commented on #470
Yes, this is the same on all Atlases.

[2018-01-23 13:11] sophiathirza commented on #468
Same problem on Atlas Scotland. Neither isleofman-spatial.nbnatlas.org or scotland-spatial.nbnatlas.org are available at the moment.

* On the species page, the Analyse data link points to the country specific spatial portal

* Analyse link in the header points to the main spatial portal for IoM and the country portal for Scotland

* On the interactive map, the Analyse data link points to the main

[2018-01-23 13:15] sophiathirza commented on #466
duplicate of #468

[2018-01-23 13:15] #466 closed

[2018-01-23 13:18] sophiathirza commented on #476
This section is not on any of the other Atlases (even under a different name). It should be removed from the available filters.

[2018-01-23 13:22] sophiathirza commented on #476
Its quite a nice filter to have on the species lists of the smaller Atlases, to return those species recorded in the hub country (locatedInHubCountry=true), if it could be renamed to the hub country.

[2018-01-23 13:27] sophiathirza commented on #479
At the moment I don't think that there is anything that we can do about this, other than deleting any particularly misleading images.

[2018-01-23 14:33] sophiathirza commented on #467
@djtfmartin how is the country determined? Is it from the country spatial layer?

[2018-01-23 14:47] djtfmartin commented on #467
it is yes.

[2018-01-23 16:10] reupost commented on #436
Processing is complete, though the previous issues with extra records, content missing from some fields (e.g. dr1180 record _ number) and fields present that were not in the upload files (e.g. individualCount in dr1180) are still noted.

[2018-01-23 16:57] reupost commented on #476
Fixed

[2018-01-23 16:57] #476 closed

[2018-01-23 17:05] reupost commented on #478
I think this might be for Red Paint.  The options displayed on the dropdown are simply retrieved from https://isleofman.nbnatlas.org/shared/header-bs2/ .  As far as I know, Red Paint manage that server, and/or the options could be set in WordPress.  Let me know if you want me to follow up with Giselle or Red Paint directly.

[2018-01-23 17:13] EllaVogel commented on #478
Thanks Reuben, I'll get in touch with Giselle/Mandy and see if they know how first. Otherwise I'll mention it to Red Paint.

[2018-01-25 10:15] sophiathirza commented on #480
Associated issues:
#441 #231 and #193

[2018-01-25 10:17] sophiathirza commented on #468
isleofman-spatial.nbnatlas.org has not been set up yet.

[2018-01-25 10:18] sophiathirza commented on #460
This is part of the record-level verification work. See requirements document on Teams.

[2018-01-25 10:32] sophiathirza commented on #457
This is included in the requirements document: 'NBNA Occurrence map enhancement requirements' on Teams

[2018-01-25 10:39] sophiathirza commented on #363
These are included in the requirements document: NBNA Occurrence map enhancement requirements

[2018-01-25 10:40] sophiathirza commented on #359
Reuben has now started using another company. I will stop status cake.

[2018-01-25 10:43] sophiathirza commented on #253
I will close this as the datasets have been removed.

[2018-01-25 10:43] #253 closed

[2018-01-25 10:45] sophiathirza commented on #249
I was able to search for the SBL in the dataset search and I haven't heard anymore problems about this. So I will close.

[2018-01-25 10:45] #249 closed

[2018-01-25 10:46] EllaVogel commented on #468
Do you know when these will be set up? Is it worth re-directing the links to the main spatial portal (but carrying through the search terms from the previous page?) in the meantime, so that we don't get an error message?

[2018-01-25 10:51] sophiathirza commented on #234
Where should the 'Explore' link take the user? Perhaps the hyperlink could just be removed?

[2018-01-25 10:53] sophiathirza commented on #470
#52

[2018-01-25 10:54] sophiathirza commented on #470
Duplicate, so will close.

[2018-01-25 10:57] reupost commented on #468
I've redirected the links to the main spatial portal (they are already set like this for other 'Analyse' links, e.g. the 'Analyse data' button on the Map tab of the Occurrence records page)

[2018-01-25 11:24] sophiathirza opened #481 "Datasets for processing"
From the previous list to re-process:
- [x] dr1486
- [x] dr1180
- [x] dr795
- [x] dr798
- [x] dr787
- [x] dr771 - 16 names not recognised
- [x] dr797- 9 names not recognised
- [x] dr1713

New and updated
- [x] dr1713
- [x] dr1661
- [x] dr1662
- [x] dr1663
- [x] dr1664
- [x] dr1665
- [x] dr1666
- [x] dr1667
- [x] dr1668
- [x] dr1669
- [x] dr1670
- [x] dr1671
- [x] dr1728
- [x] dr1729
- [x] dr1722
-

[2018-01-25 11:46] reupost commented on #480
Fixed the link, the 'email address will be your NBN Atlas account id' text needs the component to be redeployed

[2018-01-25 12:44] reupost commented on #213
The issue on the disable account popup should be fixed; the other two (spatial portal and species) have been fixed in code and these will reflect the next time these modules are deployed.

[2018-01-25 15:14] EllaVogel commented on #467
How easy is it to re-name this part of the country spatial layer, to say Isle of Man, instead of UK?

[2018-01-25 16:11] #478 closed

[2018-01-25 16:12] djtfmartin commented on #467
Its not straightforward, as this ties in with sensitive species record processing.

[2018-01-26 14:18] sophiathirza commented on #230
This has been done. Individual count is in the occurrence records download (simple format spreadsheet).

[2018-01-26 14:18] #230 closed

[2018-01-26 14:39] sophiathirza commented on #111
I have written a requirements document (on Teams) for changes to the simple format spreadsheet download. There is an accompanying xlsx file listing the fields and possible order.

[2018-01-29 11:55] sophiathirza opened #482 "Add licensing terms and agreements when users register and download"
Requirements document on Teams for the increased awareness of licensing terms and agreements when users register and download: NBN Atlas Download enhancement requirements – Part One

[2018-01-30 09:55] sophiathirza opened #483 "Don't blur the date on records of sensitive species"
The day has been removed from the event date for this sensitive species record but there is no message to indicate why: https://records.nbnatlas.org/occurrences/a3fb8b2c-01ab-41fb-a0a5-44780e449775

Some records do have the message: https://records.nbnatlas.org/occurrences/0c4671cb-4db7-4eba-94fe-ff39efb5b513

[2018-01-31 10:14] EllaVogel commented on #461
This same issue has been raised with me today. Unable to search for multiple species via the advanced search tool https://records.nbnatlas.org/search#tab_advanceSearch
I can replicate the issue.

[2018-02-01 11:27] sophiathirza commented on #206
@djtfmartin could you have another go at loading the Central Priority Habitat spatial layer that Christine uploaded, please? I have had a request for it from Reading Uni. They would like to use the spatial portal in a practical but need the missing central region.

Message from the lecturer: I am anxious to have this data-set as it is critical to Year 2 University level practical I am running base

[2018-02-02 12:11] reupost commented on #363
Done, just needs to be pushed to the server.  If 'View interactive map' causes the buttons to wrap onto the next line (as it seems likely to do), would it be ok to have the text 'Interactive map'?

[2018-02-02 12:15] sophiathirza commented on #363
Great, thanks. Yes, that would be okay. cheers.

[2018-02-02 13:44] reupost commented on #436
@sophiathirza is the revised list #481  - can I close this issue?

[2018-02-02 13:48] sophiathirza commented on #436
No, the ones unchecked do not have the correct number of records in them. Only those unchecked need to be re-run in this issue.

[2018-02-02 13:49] sophiathirza commented on #436
Some of the checked ones are repeated in the next list (#481) because I changed the column headers in them.

[2018-02-02 13:53] reupost commented on #436
Do the checked datasets have the correct fields in them as well (compared to the actual fields in the dataset file)?  Otherwise I should reprocess them as well I think.

[2018-02-02 13:54] sophiathirza commented on #436
That I don't know. It's too many to go through. It doesn't hurt to reprocess all of them, does it?

[2018-02-02 13:54] reupost commented on #436
No, its fine

[2018-02-02 14:03] sophiathirza commented on #436
I have copied those for re-processing into the next list.

[2018-02-02 14:03] #436 closed

[2018-02-02 14:05] sophiathirza commented on #481
Is this okay? The occurrence id will match for the majority (or they are new datasets).

There are 15 where the occurrence id field in the file maps to the record number on the Atlas.

There are 2 where the owners revamped the datasets and the occurrence ids have changed completely.

And one DwCA.

[2018-02-03 07:44] reupost commented on #481
Loading and processing is running:
dr1674, dr662 could not be loaded: "Bad configuration for file: [] for resource: []. CSV file is missing unique terms"
If you can fix these ones up I will include them in the indexing which should start in a couple of hours, otherwise we'll have to deal with them later.

[2018-02-03 07:50] reupost commented on #481
dr470 also has an issue, I'm afraid: "UnsupportedArchiveException: The archive given is a folder with more or less than 1 data files having a csv, txt or tab suffix"

[2018-02-03 08:37] sophiathirza commented on #481
sorry, dr1674 and dr662 both corrected.

we can leave dr470 for now.

[2018-02-03 08:41] reupost commented on #481
Great stuff, thanks!

[2018-02-05 07:40] reupost commented on #481
All done - please review to see if there are any issues.  The record count has gone up correctly.

[2018-02-05 11:55] sophiathirza opened #484 "Datasets for processing"
- [x] dr662
- [x] dr864
- [x] dr890
- [x] dr965
- [x] dr223
- [x] dr810
- [x] dr885
- [x] dr950
- [x] dr1730
- [x] dr1129 - year range eventDates not identified correctly
- [x] dr659 - organism quantity and organism quantity type are not recognised as DwC terms on the occurrence record page
- [x] dr663
- [x] dr693
- [x] dr1742
- [x] dr1487

- [x] dr1743
- [x] dr1487
- [x] dr470
- [x] dr1757
- [x]

[2018-02-05 15:51] MandyHenshall commented on #444
@reupost I'm sorry to report that this has stopped working again.  Could you try and weave your magic again please?

[2018-02-05 16:00] reupost commented on #444
@MandyHenshall - no problem.  Could you try again, and if you are still blocked, send me your IP address?  Thanks!

[2018-02-05 16:20] MandyHenshall commented on #444
Thanks @reupost it's worked again now!

[2018-02-05 16:23] #444 closed

[2018-02-07 16:27] EllaVogel opened #485 "Links still entitled 'Atlas of Living Australia'"
I sent a link to an NBN Atlas page via skype, and the link on the skype page was named 'Atlas of Living Australia' Is there still something behind the scenes that makes the NBN Atlas think that it's stil ALA?

![image](https://user-images.githubusercontent.com/14979912/35927945-dcc9bca6-0c23-11e8-9637-15ba8f69d11f.png)

[2018-02-12 15:43] sophiathirza opened #486 "Spatial layers for Atlas NI"
DAERA OGL Natural Heritage datasets (https://www.daera-ni.gov.uk/articles/download-digital-datasets):
- [x] Areas of Special Scientific Interest (ASSIs)
- [x] National Nature Reserves (NNRs)
- [x] Special Areas of Conservation (SACs)
- [x] Special Protection Areas (SPAs)
- [x] Ramsar Sites
- [x] Areas of Outstanding Natural Beauty (AONBs)
- [x] Landscape Character Areas
- [x] NI Regional Seascape

[2018-02-12 15:48] sophiathirza commented on #479
We've had a similar requirement from Northern Ireland Atlas: the main image on the species page should be from the hub country, where available.

[2018-02-16 09:21] #481 closed

[2018-02-16 09:22] sophiathirza commented on #479
@EllaVogel would you ask if they can send us more appropriate images that we can upload?

[2018-02-16 09:25] sophiathirza commented on #473
@EllaVogel this looks okay now. Would you confirm that it is still a problem?

[2018-02-16 10:32] sophiathirza commented on #472
The polygon search doesn't seem to be working at all on the IoM Atlas.

[2018-02-16 10:33] #470 closed

[2018-02-16 10:40] sophiathirza commented on #469
This is the same as the main Atlas, species.nbnatlas.org but it would be good to have on all Atlases.

[2018-02-19 09:23] EllaVogel commented on #473
@sophiathirza I'm not seeing it as an issue any more either. I'll close for now

[2018-02-19 09:23] #473 closed

[2018-02-19 09:29] EllaVogel commented on #479
I have asked. I will forward any that we get onto you

[2018-02-20 12:08] MandyHenshall commented on #480
The NBN Atlas Help and Documentation site should be going live next week.  As there will be much clearer signposting to "Create your account" it would be great to get the "ALA" text changed to NBN Atlas, especially the "Your email address will be your NBN Atlas account id".  Is this possible @reupost ? Thanks

[2018-02-20 13:05] reupost commented on #480
Hi @MandyHenshall - yes, I hope to deploy all the recent changes next week, which will include the 'In progress' items, e.g. the changes to the registration page

[2018-02-20 13:49] MandyHenshall commented on #480
Brilliant!  Thanks @reupost

[2018-02-22 15:05] CEJohnston opened #487 "Citation format for downloads from many sources - could a condensed version be developed?"
Received the following comment re using citations:

Regarding the citation document you get with the Atlas download - This is helpful if you only are using data from one or a small number of datasets, but if like me you were downloading data for all of the UK for one species, the citation list is very long. See attached for Harlequin Ladybird records for UK. I am still not sure how I would include

[2018-02-25 07:00] reupost opened #488 "Registration of existing user"
If the user email is already registered, then attempting to register triggers a Server 500 error:

URI
/userdetails/registration/register
Class
java.lang.NullPointerException
Message
Cannot invoke method keySet() on null object

[2018-02-26 13:44] sophiathirza commented on #488
duplicate of #374

[2018-02-26 13:58] sophiathirza commented on #487
I think what the person suggested is okay, to give a brief credit and list the data providers or datasets in an appendix. I am not sure what a condensed citation could be.

The list of citations, when you download records, includes both entries for both the data provider and the individual datasets. Is it necessary to have both? I would have thought that only the dataset citation is required, thou

[2018-02-26 16:01] japonicus opened #489 "Grid-square based records displayed as centroids are shown with incorrect precision."
Occurrence records that use square based geo-references are plotted as centroid records using a precision radius that is twice the dimension of the grid-square. This means that the shaded area shown is three times larger than the source grid-reference.

This can be seen with the screen shot for [this hectad record from NH53](https://records.nbnatlas.org/occurrences/2a71819b-8901-44ca-af27-a8aae501

[2018-02-27 11:08] EllaVogel commented on #483
The sensitive species steering group have decided that it's unnecessary to be altering date info for sensitive species, just the reduced location is enough. So, is it possible to remove the feature that reduces date precision please?

[2018-02-27 16:23] reupost commented on #472
As per #477

[2018-02-27 16:24] reupost commented on #477
The issue was bad encoding of the quote marks around "Isle of Man" in the query. Fixed in dev.

[2018-02-27 16:31] reupost commented on #471
Regarding the map, I can't replicate this. If I click on a record point, and then click the browser 'Back' button I return to the map as I left it.  Can you provide more details?  I'm also not quite sure what tabbing backwards involves. Can you give some specific examples?

It might also be worth 'raising' these general Atlas usability issues up from the country-specific Atlases, since they apply

[2018-02-27 16:32] #472 closed

[2018-02-28 11:22] EllaVogel commented on #477
Thanks @reupost

[2018-02-28 11:27] EllaVogel commented on #471
I am able to replicate this. If you search for a species (https://isleofman-records.nbnatlas.org/occurrences/search?q=lsid:NBNSYS0000000013#tab_mapView) and then zoom into a location, say, Peel, then click a point and follow the link through to 'view record', you're taken to a record page. When you then use the back button on the browser, you lose your zoom over Peel and are given a whole Isle of

[2018-02-28 12:27] reupost opened #490 "Record list from map grid"
If you are one grid references on the map, not points, and try to follow through to 'view record', no records are returned!

[2018-02-28 12:28] reupost commented on #490
Fixed in dev

[2018-02-28 12:33] EllaVogel commented on #490
This is still an issue for me

[2018-02-28 12:36] reupost commented on #490
I haven't deployed the fix yet :)  That's the 'in progress' tag

[2018-02-28 12:39] EllaVogel commented on #490
Right! I'm with you now :)
Can you drop a message when it's deployed, then I can update the issues log spreadsheet log?

[2018-03-01 16:55] CEJohnston commented on #487
Thanks @sophiathirza - in due course as not high priority. I agree it is difficult to think of a condensed version unless there is some way of facilitating the saving of a search or the downloads so that they could be accessed online.

[2018-03-01 17:07] CEJohnston opened #491 "What is JSON and why is there a button on the species pages?"
I had a question today from the NBN Atlas Scotland group:  what is JSON and why is there a JSON button at the top of the species pages and also in the online resources box at the foot of the page?

Are JSON downloads widely used and does the link button need such prominence? If so it would be good if the box of text that appears when you mouse-over the button provided a description of what it is u

[2018-03-01 17:16] CEJohnston opened #492 "Grammatical error in the species pages text"
In the species pages text there is either a missing word or too many words in the text box that describes the number of datasets that have provided data for the species map.

Eg after a search for peregrine falcon in the NBN Atlas Scotland, under Datasets it says '31 datasets have provided data to the for this species'.   I think 'to the' could be removed so that it just says '31 datasets have pro

[2018-03-02 16:35] acclivity2 opened #493 "Typo"
on page   https://species.nbnatlas.org/search/?q=Salicornia+europaea

"Glassowrt"  is a typo

Common Glasswort, Common Glassowrt

[2018-03-05 08:42] EllaVogel commented on #474
Is it possible to get an update on this issue please? I'm sending an updated log over to Isle of Man today, and they're keen to see at least a comment on each issue. Will this be easy to fix?

[2018-03-05 08:44] EllaVogel commented on #471
@reupost have you managed to replicate this issue? I need to update the Isle of Man team today on all of their reported issues, so would be good to comment on whether this is fixable in the short term. Cheers.

[2018-03-05 08:48] EllaVogel commented on #467
@djtfmartin @reupost can either of you comment on when this might be fixed? Its fairy fundamental to have the country information correct for each record. I need to pass this info onto the Isle of Man team today.

[2018-03-05 09:25] reupost commented on #471
Yes, I could replicate it, thanks :).  The easiest fix would be to open the 'View record' link in a new browser tab, which would leave the map as-is in your existing tab.  This might annoy some users, it's debatable what the expected action would be when you click on the link, whether to open in-place or in a new tab. Alternatively, preserving the map context so that you can go back correctly to t

[2018-03-05 09:30] reupost commented on #474
It should be something we can configure, we'd just need to be careful how it might affect other charts, since its a pretty generic component.  The charts are generated as images.  Let me take a closer look and get a more substantive comment to you in a while.

[2018-03-05 14:27] sophiathirza commented on #493
Thank you for letting us know.

The name comes from the UK species inventory and we can't change it directly on the Atlas. I have updated our export to ensure that the next time we update the species names 'Common Glassowrt' will not be included.

[2018-03-05 14:43] sophiathirza commented on #349
Closing as the images have been removed.